html {
    height: 100%;
    margin: 0px;
}
body {
    background-image: url("/static/images/background_image.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    /* min-height: fit-content; */
    /* background-position: center; */
    /* position: fixed;   */
    background-attachment: fixed;/*图片固定，否则窗口缩小出现滚动条时，屏幕下方出现空白，背景图片不能充满*/
}
header {
    position: absolute fixed;
    top: 0;
    height:75px;
    width: 100%;
    background-color: rgba(128, 218, 26, 0.432);
    padding-left: 2%;
    border: 0px;
}
header .logo a {
    font-size: 45px;
    color: #d2f50b;
    line-height: 75px;
    text-decoration: none;
}
header .search {
    padding-left: 20%;
    font-size: 15px;
    color: navy;
}
header .welcome {
    color: lightblue;
    margin: 10px 50px;
    font-size: 15px;
    float: right;
}

#caption1 {
    text-align: center;
    color: rgb(86, 140, 129);
    font-size: 70px;
    margin-top: 15%;
}
#discription {
    font-size: 22px;
    text-align: center;
    color: #d8d2d7;
}
iframe {
    text-align: center;
}
#videofield {
    text-align: center;
}
#webfield {
    text-align: center;
}
marquee {
    position: absolute;
    top: 400px;
    left: 20px;
    border: 1px solid #73AD21;
    width: 150px;
    height: 400px;
    text-align: left;
    color: blanchedalmond;
}
marquee img[type="scroll_img"] {
    width: 100px;
    height: 50px;
}

.tbl-field {
    position: absolute;
    /* min-height: fit-content;  */
    top: 125px;
    /*bottom: 0px; /*fill remaining height space */
    width: 100%;
    background-color: rgb(234, 236, 233);
    z-index: 50;
}
.tbl-list{
    margin: 10px 10px 10px 10px;
}
.form-control.mb-4 {
    display: block;
    width: 40%;
    height: 44px;
    padding: 5px 5px 5px 5px;
    font-size: 14px;
}
.table-row{
    cursor:pointer;
}
#editfield {
    height: 700px; 
    overflow-y: auto;
}
form .form-row .form-group label {
    font-size: 12px; 
    font-weight: 500 !important; /*default  700*/
    margin-bottom: 0px; /*default  5px*/
}
form .form-row .form-group, form .form-row .form-group input.form-control {
    margin: 0px 0px 0px 0px; /*default  5px*/
    padding: 3px;
}
/* ------- below ---- timesheet_seperate_input.html ---------
#Dailyentry form .row label {
    font-size: 12px; 
    font-weight: 500 !important; /default  700/
    margin-bottom: 0px; /default  5px/
}
#Dailyentry form .row .form-group, #Dailyentry form .row .form-group input.form-control {
    margin: 0px 0px 0px 0px; /default  5px/
    padding: 3px;
}
#select-btn .btn.btn-success.timesheetbtn:focus, #select-btn .btn.btn-success.timesheetbtn:hover {
    color: red;
    border-color: #4cae4c;
    background-color: #5cb85c;
}
#select-btn .btn.btn-success.timesheetbtn.active {
    color: red;
    background-color: #5cb85c;
}
--------- above --- ---- timesheet_seperate_input.html ---------*/

/*--------below --- ---- timesheet.html ---------*/
#Dailyentry .row form label {
    font-size: 12px; 
    font-weight: 500 !important; /*default  700*/
    margin-bottom: 0px; /*default  5px*/
}
#Dailyentry .row form .form-group, #Dailyentry .row form .form-group input.form-control {
    margin: 0px 0px 0px 0px; /*default  5px*/
    padding: 3px;
}
/* type = number, 数字输入 去掉右边的箭头 鼠标滚轮支持数字增减 */
.form-group input.timeselect::-webkit-outer-spin-button, .form-group input.timeselect::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
    -moz-appearance: textfield;
    text-align: right;
    padding: 0px;
}
.entryinputgroup [name='timesheet1-41'], .entryinputgroup [name='timesheet1-41'] {
    padding: 0px;
    text-align: center;
}
.entryinputgroup input {
    font-size: 12px;
}
/*timesheet popup gray out - set modal-backdrop.in*/
.modal-backdrop.in {
    z-index: 25;
}
.modal .modal-body {
    padding: 5px;
}
.modal button {
    padding: 3px 12px;
}
.modal .form-group {
    margin: 3px 0px;
    font-size: 12px; 
    font-weight: 500 !important; /*default  700*/
}
.modal .form-group label {
    font-weight: 400;
    margin: 0px;
}
.modal .form-control {
    margin: 0px;
    height: 25px;
    font-size: 12px;
    padding-top: 3px;
}


/* ----- right view page by page 点击左边导航栏右边窗口内容切换-------------
nav#sidebar {
    float: left;
    margin: 30px 10px 10px 20px;
    width: 180px;
    min-height: 500px;
    border: solid thin darkgrey;
}
#sidebar .list-unstyled.components a {
    display: block;
    text-decoration: none;
    padding: 10px 5px 10px 10px;
}
#sidebar .list-unstyled.components a:focus, #sidebar .list-unstyled.components a:hover{
    color: red;
    background-color: rgb(210, 231, 199);
}
#edit_field {
    float: left;
}
#edit_field .divs .form-row .form-group label {
    font-size: 12px; 
    font-weight: 500 !important; *default  700*
    margin-bottom: 0px; *default  5px*
}
#edit_field .divs .form-row .form-group {
    margin-bottom: 5px;*default  15px*
}
#edit_field .divs .form-row .form-group button#buttonsave {
    width: 150px ;
    float: right ;
    margin-left: 25px;
}
#edit_field .divs .form-row .form-group button#buttoncancel {
    width: 150px ;
    float: right ;
} */




.navbar {
    min-height: 45px;
    background-color: rgb(214, 231, 192);
    margin: 0;
    border: 0;
    padding: 0;
    /* position: fixed; */
}
.navbar-nav li a {
    font-size: 14px;
}
.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
    color: #e40e0e !important;
    background-color: transparent;
}
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
    color: red;
    background-color: rgb(241, 214, 245) !important;
    z-index: 100;
}
@media (min-width: 768px) and (max-width: 1200px) {
    .navbar-collapse.collapse {
        display: block !important;
        height: auto;
}


footer {
    background-color: greenyellow;
}
footer p {
    font-size: 12px;
    text-align: left;
    color: #aa0a82;
}


}
