{% extends 'base.html' %}

{% block styles %}
{{super()}}
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/style.css')}}">
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/common.css')}}">
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/dataTables.bootstrap.css')}}">
<style>
    #success_message {
        display: none;
    }

    #Sheetlist {
        font-size: 13px;
    }

    #timesheettopbar {
        margin-top: 10px;
        margin-bottom: 10px;
        height: 35px;
    }

    #timesheettopbar input#tableSearch {
        margin: 0px;
        height: 30px;
        vertical-align: middle;
    }

    #timesheettopbar select {
        height: 30px;
    }

    #timesheettopbar button {
        height: 30px;
        padding: 5px 15px 15px;
    }

    .table th {
        text-align: center;
    }

    #myTable td {
        padding: 3px;
        vertical-align: middle;
    }
</style>
{% endblock %}

{% block content %}
<div class="tbl-field">
  <div id="corporation_report_list" class="container-fluid" style="margin: 20px 60px 0px 60px;">
    <div id="corporation_report_topbar" class="container-fluid row">
        <div class="form-group col-sm-7 col-sm-offset-5" style="text-align: right;">
            <form action="" method="POST" autocomplete="off">
                From
                <select name="dateselectfrom" value="{{dateselectfrom}}" style="width: 25%;">
                    <option value="">Please select date</option>
                    {% for row in datefilter %}
                    <option>{{row.startdate}}</option>
                    {% endfor %}
                </select>To
                <select name="dateselectto" value="{{dateselectto}}" style="width: 25%;">
                    <option value="">Please select date</option>
                    {% for row in datefilter %}
                    <option>{{row.startdate}}</option>
                    {% endfor %}
                </select>
                <select name="userselect" value="{{userselect}}" style="width: 25%;">
                    <option value="">Please select user</option>
                    {% for row in userfilter %}
                    <option>{{row.corp}}</option>
                    {% endfor %}
                </select>
                <!-- <a href="{{url_for('timesheetlist')}}">Go</a> -->
                <button type="submit" class="btn btn btn-success">Go</button>
            </form>
        </div>
    </div>    
    <table id="corporation_report_table" class="table table-bordered table-striped table-hover" style="font-size: 13px;">
        <thead>
            <tr>
                <th class="col-1">ID</th>
                <th class="col-2">Name</th>
                <th class="col-1">Date</th>
                <th class="col-1">Activity</th>
                <th class="col-2">Content</th>
                <th class="col-1">Work hour</th>
                <th class="col-1">Note</th>
            </tr>
        </thead>
        <tbody id="myTable">
            {% for row in listdata %}
            <tr>
                <td class="col-1">{{row.corp_report_id}}</td>
                <td class="col-1">{{row.corp}}</td>
                <td class="col-2">{{row.startdate}}</td>
                <td class="col-1">{{row.activitytype}}</td>
                <td class="col-2">{{row.entrycontent}}</td>
                <td class="col-1">{{row.workhour}}</td>
                <td class="col-1"></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
  </div>
</div>
{% endblock %}

{% block scripts %}
<script src="{{url_for('static', filename='js/jquery-3.5.1.js')}}"></script>
<script src="{{url_for('static', filename='js/main.js')}}"></script>
<script src="{{url_for('static', filename='js/jquery.dataTables.js')}}"></script>
<script src="{{url_for('static', filename='js/dataTables.bootstrap.js')}}"></script>
<script src="{{url_for('static', filename='js/bootstrap.min.js')}}"></script>
<script src="{{url_for('static', filename='js/bootstrapValidator.min.js')}}"></script> 

<script type="text/javascript">
  $(document).ready(function () {
    $('#corporation_report_table').DataTable();
  });

  window.onload = function(event) {
    $('form [name="dateselectfrom"]').val($('form [name="dateselectfrom"]').attr('value'));
    $('form [name="dateselectto"]').val($('form [name="dateselectto"]').attr('value'));
    $('form [name="userselect"]').val($('form [name="userselect"]').attr('value'));

    pagetitle = document.title;
    console.log(pagetitle);
    $('#navbar-topmenu li a[name="topbar"]').css("font-weight", "500");
    $('#navbar-topmenu li a[name="topbar"]').css("border-bottom", "none");
    $('li#CustomerReport a[name="topbar"]').css("font-weight", "550");
    $('li#CustomerReport a[name="topbar"]').css("border-bottom", "5px solid #b505ee");
  }


</script>
{%- endblock scripts %}