{% extends 'base.html' %}

{% block styles %}
{{super()}}
  <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/style.css')}}">
  <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/common.css')}}">
  <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/bootstrap.min.css')}}"><!-- 这句 用本地bootstrap.min.css格式就乱了-->
  <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/style-corp.css')}}">
  <style>
    body {
      position: relative; 
    }
    #scrollmenu .menu .nav-link.active {
        color: red;
    }
  </style>
{% endblock %}

{% block body_attribs %}
  data-spy="scroll" data-target="#scrollmenu" data-offset="10"
  onscroll="scroll()"
{% endblock body_attribs %}

{% block content %}
<div class="tbl-field">
  <div class="row">
    <form action="{{url_for('corp_del')}}/{{corp.corp_id}}" method="POST">
      <div class="form-group col-md-9" style="margin-bottom: 0px;">
        <h3>&nbsp Corporation ID: {{corp.corp_id}} &nbsp Name: {{corp.corp2}}</h3>
      </div>
      <div class="form-group col-md-3" style="margin: 20px 0px 0px 0px;">
        <a href="{{url_for('corp_del')}}/{{corp.corp_id}}"><button type="submit" class="btn btn-info" style="padding: 3px 12px 3px 12px;">Delete corporation</button></a>
        <a href="{{ url_for('corporate')}}" type="cancel" class="btn btn-info" style="padding: 3px 12px 3px 12px;">Cancel</a>
      </div>
    </form>
  </div>
  <div class="row">
    <div class="col-sm-2">
      <nav id="scrollmenu" style="overflow: auto;">
        <ul class="menu" style="position: fixed;">
          <li class="nav-item"><a href="#item-1" class="nav-link">General Information</a></li>
          <li class="nav-item"><a href="#item-2" class="nav-link">CRA Account</a></li>
          <li class="nav-item"><a href="#item-3" class="nav-link">WSIB Account</a></li>
          <li class="nav-item"><a href="#item-4" class="nav-link">EHT Account</a></li>
          <li class="nav-item"><a href="#item-5" class="nav-link">Other Account</a></li>
          <li class="nav-item"><a href="#item-6" class="nav-link">Corporate Structure</a></li>
          <li class="nav-item"><a href="#item-7" class="nav-link">Corporate Operation</a></li>
          <li class="nav-item"><a href="#item-8" class="nav-link">Bank Information</a></li>
          <li class="nav-item"><a href="#item-9" class="nav-link">Accounting Software</a></li>
          <li class="nav-item"><a href="#item-10" class="nav-link">Engagement</a></li>
          <li class="nav-item"><a href="#item-11" class="nav-link">Contact Information</a></li>
          <li class="nav-item"><a href="#item-12" class="nav-link">Director Information</a></li>
          <li class="nav-item"><a href="#item-13" class="nav-link">Share Holder</a></li>
          <li class="nav-item"><a href="#item-14" class="nav-link">Task Information</a></li>
          <li class="nav-item"><a href="#item-15" class="nav-link">Recent Updates</a></li>
        </ul>
      </nav>
    </div>

    <style>
      #scrollmenu ul {
        border: 1px solid #cccccc;
        margin: 20px 0px 0px 30px;
        padding: 20px;
        list-style-type: none;
      }
      #scrollmenu li {
        padding: 2px;
        list-style-type: none;
      }
      #scrollmenu li a.nav-link:hover {
        display: block;
        background-color: #ddecc7;
        color:#c618d3;
      }
      .item .form-row .form-group label {
        font-size: 12px; 
        font-weight: 500 !important; /*default  700*/
        margin-bottom: 0px; /*default  5px*/
      }
      .item .form-row .form-group, .item .form-row .form-group input.form-control {
        font-size: 12px;
        margin: 0px 0px 0px 0px; /*default  5px*/
        padding: 3px;
      }
    </style>
    <div class="col-sm-10">
      <form action="{{url_for('corp_edit')}}/{{corp.corp_id}}" method="POST">
        <!-- <div id="corpedit" class="scroll overflow-auto" style="height: 600px; overflow-y: auto;"> -->
        <div id="item1" class="item"> 
          <br/>
          <div class="form-row">
            <div class="form-group col-md-12">
              <label><h4 style="color: #337ab7;">General Information</h4></label>
            </div>

            <div class="form-group col-md-2">
              <label>Bussiness No.</label>
              <input type="text" class="form-control" name="corp1" value="{{corp.corp1}}">
            </div>
            <div class="form-group col-md-5">
              <label>Corporation Name</label>
              <input type="text" class="form-control" name="corp2" value="{{corp.corp2}}">
            </div>
            <div class="form-group col-md-4">
              <label >Registration Name</label>
              <input type="text" class="form-control" name="corp3" value="{{corp.corp3}}">
            </div>
              <div class="form-group col-md-1">
                <label >Corp No</label>
                <input type="text" class="form-control" name="corp12" value="{{corp.corp12}}">
              </div>
  
              <div class="form-group col-md-4">
                <label>Master Business Name</label>
                <input type="text" class="form-control" name="corp4" value="{{corp.corp4}}">
              </div>
              <div class="form-group col-md-3">
                <label>Master Busi Licence Period </label>
                <div>
                  <input type="text" class="form-control col-sm-1" name="corp5" value="{{corp.corp5}}" style="width: 45%;">
                  <input type="text" class="form-control col-sm-1" value=" to " style="width: 10%; border: none; background: transparent;">
                  <input type="text" class="form-control col-sm-1" name="corp6" value="{{corp.corp6}}" style="width: 45%;">
                </div>
              </div>
              <div class="form-group col-md-1">
                <label>Incorp Date</label>
                <input type="text" class="form-control" name="corp7" value="{{corp.corp7}}">
              </div>
              <div class="form-group col-md-1">
                <label>Incorp Type</label>
                <select class="browser-default custom-select" name="corp8" value="{{corp.corp8}}" style="width: 100%; height: 32px; border: none; background: #ffffff;">
                  <option >Federal</option>
                  <option >Ontario</option>
                </select>
              </div>
              <div class="form-group col-md-2">
                <label>Anniversary Date</label>
                <div>
                  <input type="text" class="form-control col-sm-1" name="corp9" value="{{corp.corp9}}" style="width: 42%;">
                  <input type="text" class="form-control col-sm-1" value=" to " style="width: 16%; border: none; background: transparent;">
                  <input type="text" class="form-control col-sm-1" name="corp10" value="{{corp.corp10}}" style="width: 42%;">
                </div>
              </div>
              <div class="form-group col-md-1">
                <label>Corp Key</label>
                <input type="text" class="form-control" name="corp11" value="{{corp.corp11}}">
              </div>
  
              <div class="form-group col-md-6">
                <label>Business Address</label>
                <input type="text" class="form-control" name="corp16" value="{{corp.corp16}}">
              </div>
              <div class="form-group col-md-5">
                <label>Mailing Address</label>
                <input type="text" class="form-control" name="corp17" value="{{corp.corp17}}">
              </div>
              <div class="form-group col-md-1">
                <label>On corp No</label>
                <input type="text" class="form-control" name="corp13" value="{{corp.corp13}}">
              </div>
  
              <div class="form-group col-md-3">
                <label>CRA Contact Person: First name </label>
                <input type="text" class="form-control" name="corp18" value="{{corp.corp18}}">
              </div>
              <div class="form-group col-md-2">
                <label>Last name</label>
                <input type="text" class="form-control" name="corp19" value="{{corp.corp19}}">
              </div>
              <div class="form-group col-md-2">
                <label>CRA Contact Phone</label>
                <input type="text" class="form-control" name="corp20" value="{{corp.corp20}}">
              </div>
              <div class="form-group col-md-2">
                <label>Office Fax</label>
                <input type="text" class="form-control" name="corp21" value="{{corp.corp21}}">
              </div>
              <div class="form-group col-md-3">
                <label>Other Provincial Number</label>
                <div>
                  <input type="text" class="form-control col-sm-1" name="corp14" value="{{corp.corp14}}" style="width: 50%;">
                  <input type="text" class="form-control col-sm-1" name="corp15" value="{{corp.corp15}}" style="width: 50%;">
                </div>
              </div>
  
              <div class="form-group col-md-3">
                <label>Email</label>
                <input type="text" class="form-control" name="corp22" value="{{corp.corp22}}">
              </div>
              <div class="form-group col-md-5">
                <label>Website</label>
                <input type="text" class="form-control" name="corp23" value="{{corp.corp23}}">
              </div>
              <div class="form-group col-md-4">
                <label>Wechat/Twitter/LinkedIn/Facebook</label>
                <input type="text" class="form-control" name="corp24" value="{{corp.corp24}}">
              </div>
            </div>
  
        </div>
          <!-- CRA Account -->
        <div id="item2" class="item">
  
            <br/>
            <div class="form-row">
              <div class="form-group col-md-12">
                <label><h4 style="color: #337ab7;">CRA Account</h4></label>
              </div>
            <br/>
              <div class="form-group col-md-2">
                <label>Corp Tax Year End</label>
                <input type="text" class="form-control" name="corp25" value="{{corp.corp25}}">
              </div>
              <div class="form-group col-md-5">
                <label>Account</label>
                <input type="text" class="form-control" name="corp29" value="{{corp.corp29}}">
              </div>
              <div class="form-group col-md-1">
                <label>HST Report</label>
                <input type="text" class="form-control" name="corp26" value="{{corp.corp26}}">
              </div>
              <div class="form-group col-md-2">
                <label>Method</label>
                <select class="browser-default custom-select"  name="corp27" value="{{corp.corp27}}" style="width: 100%; height: 32px; border: none; background: #ffffff;">
                  <option >Normal</option>
                  <option >Quick</option>
                </select>
              </div>
              <div class="form-group col-md-2">
                <label>Account No</label>
                <input type="text" class="form-control" name="corp28" value="{{corp.corp28}}">
              </div>
  
              <div class="form-group col-md-2">
                <label>Payroll Acco No.</label>
                <input type="text" class="form-control" name="corp30" value="{{corp.corp30}}">
              </div>
              <div class="form-group col-md-5">
                <label>Payroll Account and T4</label>
                <input type="text" class="form-control" name="corp31" value="{{corp.corp31}}">
              </div>
              <div class="form-group col-md-5">
                <label>Subcontractor and T4A</label>
                <input type="text" class="form-control" name="corp32" value="{{corp.corp32}}">
              </div>
  
              <div class="form-group col-md-5">
                <label>Dividend and T5 </label>
                <input type="text" class="form-control" name="corp33" value="{{corp.corp33}}">
              </div>
              <div class="form-group col-md-5">
                <label>Withholding Tax Account </label>
                <input type="text" class="form-control" name="corp35" value="{{corp.corp35}}">
              </div>
              <div class="form-group col-md-2">
                <label>Account No.</label>
                <input type="text" class="form-control" name="corp34" value="{{corp.corp34}}">
              </div>
  
              <div class="form-group col-md-5">
                <label>CRA other account</label>
                <input type="text" class="form-control" name="corp37" value="{{corp.corp37}}">
              </div>
              <div class="form-group col-md-2">
                <label>Account No.</label>
                <input type="text" class="form-control" name="corp36" value="{{corp.corp36}}">
              </div>
            </div>
  
        </div>
        <!-- WSIB Account -->
        <div id="item3" class="item">
  
            <br/>
            <div class="form-row">
              <div class="form-group col-md-12">
                <label><h4 style="color: #337ab7;">WSIB Account</h4></label>
              </div>
            <br/>
              <div class="form-group col-md-2">
                <label>WSIB Account Number</label>
                <input type="text" class="form-control" name="corp38" value="{{corp.corp38}}">
              </div>
              <div class="form-group col-md-5">
                <label>WSIB Account</label>
                <input type="text" class="form-control" name="corp39" value="{{corp.corp39}}">
              </div>
            </div>
  
        </div>
        <!-- EHT Account -->
        <div id="item4" class="item">
  
            <br/>
            <div class="form-row">
              <div class="form-group col-md-12">
                <label><h4 style="color: #337ab7;">EHT Account</h4></label>
              </div>
            <br/>
              <div class="form-group col-md-2">
                <label>EHT Account Number</label>
                <input type="text" class="form-control" name="corp40" value="{{corp.corp40}}">
              </div>
              <div class="form-group col-md-5">
                <label>EHT Account</label>
                <input type="text" class="form-control" name="corp41" value="{{corp.corp41}}">
              </div>
            </div>
  
        </div>
        <!-- Other Account -->
        <div id="item5" class="item">
  
            <br/>
            <div class="form-row">
              <div class="form-group col-md-12">
                <label><h4 style="color: #337ab7;">Other Account</h4></label>
              </div>
            <br/>
              <div class="form-group col-md-2">
                <label>Other Account Number</label>
                <input type="text" class="form-control" name="corp42" value="{{corp.corp42}}">
              </div>
              <div class="form-group col-md-5">
                <label>Other Account</label>
                <input type="text" class="form-control" name="corp43" value="{{corp.corp43}}">
              </div>
            </div>
  
        </div>
        <!-- Corporate Structure -->
        <div id="item6" class="item">
  
            <br/>
            <div class="form-row">
              <div class="form-group col-md-12">
                <label><h4 style="color: #337ab7;">Corporate Structure</h4></label>
              </div>
            <br/>
              <div class="form-group col-md-6">
                <label>Holding Corporation </label>
                <input type="text" class="form-control" name="corp44" value="{{corp.corp44}}">
              </div>
              <div class="form-group col-md-6">
                <label>Ovesea Investment Corporation</label>
                <input type="text" class="form-control" name="corp45" value="{{corp.corp45}}">
              </div>
            </div>
  
        </div>
        <!-- Corporate Operation  -->
        <div id="item7" class="item">
  
            <br/>
            <div class="form-row">
              <div class="form-group col-md-12">
                <label><h4 style="color: #337ab7;">Corporate Operation</h4></label>
              </div>
            <br/>
              <div class="form-group col-md-2">
                <label>Corporation Indursty</label>
                <input type="text" class="form-control" name="corp46" value="{{corp.corp46}}">
              </div>
              <div class="form-group col-md-10">
                <label>Corporation Information </label>
                <input type="text" class="form-control" name="corp47" value="{{corp.corp47}}">
              </div>
              <div class="form-group col-md-12">
                <label>Specific Information </label>
                <input type="text" class="form-control" name="corp48" value="{{corp.corp48}}">
              </div>            
            </div>
  
        </div>
        <!-- Bank Information -->
        <div id="item8" class="item">
  
            <br/>
            <div class="form-row">
              <div class="form-group col-md-12">
                <label><h4 style="color: #337ab7;">Bank Information</h4></label>
              </div>
            <br/>
              <div class="form-group col-md-4">
                <label>Bank Account 1</label>
                <input type="text" class="form-control" name="corp49" value="{{corp.corp49}}">
              </div>
              <div class="form-group col-md-4">
                <label>Bank Account 2</label>
                <input type="text" class="form-control" name="corp50" value="{{corp.corp50}}">
              </div>
              <div class="form-group col-md-4">
                <label>Bank Account 3</label>
                <input type="text" class="form-control" name="corp51" value="{{corp.corp51}}">
              </div>
            </div>
  
        </div>      
        <!-- Software -->
        <div id="item9" class="item">
  
            <br/>
            <div class="form-row">
              <div class="form-group col-md-12">
                <label><h4 style="color: #337ab7;">Software</h4></label>
              </div>
            <br/>
              <div class="form-group col-md-4">
                <label>Software (QB/Sagel/Lawyer)</label>
                <input type="text" class="form-control" name="corp52" value="{{corp.corp55}}">
              </div>
              <div class="form-group col-md-2">
                <label>Password</label>
                <input type="text" class="form-control" name="corp53" value="{{corp.corp53}}">
              </div>
              <div class="form-group col-md-4">
                <label>Payroll Software</label>
                <input type="text" class="form-control" name="corp54" value="{{corp.corp54}}">
              </div>
              <div class="form-group col-md-2">
                <label>Password</label>
                <input type="text" class="form-control" name="corp55" value="{{corp.corp55}}">
              </div>
            </div>
  
        </div>      
        <!-- Engagement -->
        <div id="item10" class="item">
  
            <br/>
            <div class="form-row">
              <div class="form-group col-md-12">
                <label><h4 style="color: #337ab7;">Engagement</h4></label>
              </div>
            <br/>
              <div class="form-group col-md-12">
                <label>Account Service</label>
                <input type="text" class="form-control" name="corp56" value="{{corp.corp56}}">
              </div>
              <div class="form-group col-md-4">
                <label>Account Service Type</label>
                <input type="text" class="form-control" name="corp57" value="{{corp.corp57}}">
              </div>
              <div class="form-group col-md-8">
                <label>Leading</label>
                <input type="text" class="form-control" name="corp58" value="{{corp.corp58}}">
              </div>
            </div>
  
        </div>
        <!-- CONTACTS Infomation -->
        <div id="item11" class="item">

          <br/>
          <div class="form-row">
            <div class="form-group col-md-12">
              <label><h4 style="color: #337ab7;">CONTACTS</h4></label>
              <input type="text" name="corp590" value='  [serial no: ]' style="height: 40%; font-size: 9px; border: none; background-color: #eaece9;">
            </div>
          <br/>
            <div class="form-group col-md-12">
              <label>1st Contact ( Position | first name | last name | phone number | wechat | email )<br></label>
              <div>
                <input type="text" class="form-control col-sm-1" name="corp59" value="{{corp.contact_position}}" style="width: 10%;">
                <select class="browser-default custom-select form-control" name="corp60" value="{{indiv_list[0]}}" style="width: 90%;">
                  <option value="">Please select</option>
                  {% for row in indiv_data %}
                  <option >{{row.indiv_id}} | {{row.sin}} | {{row.prefix}} {{row.last_name}}, {{row.first_name}} | {{row.phone1}} | {{row.wechat}} | {{row.email}}</option>
                  {% endfor %}
                </select>
              </div>
            </div>
            <div class="form-group col-md-12">
              <label>2nd Contact<br></label>
              <div>
                <input type="text" class="form-control col-sm-1" name="corp61" value="" style="width: 10%;">
                <select class="browser-default custom-select form-control" name="corp62" value="{{corp.corp62}}" style="width: 90%;">
                  <option value="" >Please select</option>
                  {% for row in indiv_data %}
                  <option >{{row.indiv_id}} | {{row.sin}} | {{row.prefix}} {{row.last_name}}, {{row.first_name}} | {{row.phone1}} | {{row.wechat}} | {{row.email}}</option>
                  {% endfor %}
                </select>
              </div>
            </div>
            <div class="form-group col-md-12">
              <label>3rd Contact<br></label>
              <div>
                <input type="text" class="form-control col-sm-1" name="corp63" value="{{corp.corp63}}" style="width: 10%;">
                <select class="browser-default custom-select form-control" name="corp64" value="{{corp.corp64}}" style="width: 90%;">
                  <option value="" >Please select</option>
                  {% for row in indiv_data %}
                  <option >{{row.indiv_id}} | {{row.sin}} | {{row.prefix}} {{row.last_name}}, {{row.first_name}} | {{row.phone1}} | {{row.wechat}} | {{row.email}}</option>
                  {% endfor %}
                </select>
              </div>
            </div>
            <div class="form-group col-md-12">
              <label>4th Contact<br></label>
              <div>
                <input type="text" class="form-control col-sm-1" name="corp65" value="{{corp.corp65}}" style="width: 10%;">
                <select class="browser-default custom-select form-control" name="corp66" value="{{corp.corp66}}" style="width: 90%;">
                  <option value="" >Please select</option>
                  {% for row in indiv_data %}
                  <option >{{row.indiv_id}} | {{row.sin}} | {{row.prefix}} {{row.last_name}}, {{row.first_name}} | {{row.phone1}} | {{row.wechat}} | {{row.email}}</option>
                  {% endfor %}
                </select>
              </div>
            </div>
          </div>

        </div>
        <!-- DIRECTOR Infomation -->
        <div id="item12" class="item">

            <br/>
            <div class="form-row">
              <div class="form-group col-md-12">
                <label><h4 style="color: #337ab7;">DIRECTORS</h4></label>
                <input type="text" name="corp670" value='  [serial no: ]' style="height: 40%; font-size: 9px; border: none; background-color: #eaece9;">
              </div>
            <br/>
              <div class="form-group col-md-12">
                <label>1st Director ( SIN | Prefix Last name, First name | address | phone number | email )<br></label>
                <select class="browser-default custom-select form-control" name="corp67" value="{{indiv_list[1]}}" style="width: 90%;">
                  <option value="" >Please select</option>
                  {% for row in indiv_data %}
                  <option >{{row.indiv_id}} | {{row.sin}} | {{row.prefix}} {{row.last_name}}, {{row.first_name}} | {{row.phone1}} | {{row.email}} | {{row.address1}}</option>
                  {% endfor %}
                </select>
              </div>
              <div class="form-group col-md-12">
                <label>2nd Director<br></label>
                <select class="browser-default custom-select form-control" name="corp68" value="{{corp.corp68}}" style="width: 90%;">
                  <option value="" >Please select</option>
                  {% for row in indiv_data %}
                  <option >{{row.indiv_id}} | {{row.sin}} | {{row.prefix}} {{row.last_name}}, {{row.first_name}} | {{row.phone1}} | {{row.email}} | {{row.address1}}</option>
                  {% endfor %}
                </select>
              </div>
              <div class="form-group col-md-12">
                <label>3rd Director<br></label>
                <select class="browser-default custom-select form-control" name="corp69" value="{{corp.corp69}}" style="width: 90%;">
                  <option value="" >Please select</option>
                  {% for row in indiv_data %}
                  <option >{{row.indiv_id}} | {{row.sin}} | {{row.prefix}} {{row.last_name}}, {{row.first_name}} | {{row.phone1}} | {{row.email}} | {{row.address1}}</option>
                  {% endfor %}
                </select>
              </div>
              <div class="form-group col-md-12">
                <label>4th Director<br></label>
                <select class="browser-default custom-select form-control" name="corp70" value="{{corp.corp70}}" style="width: 90%;">
                  <option value="" >Please select</option>
                  {% for row in indiv_data %}
                  <option >{{row.indiv_id}} | {{row.sin}} | {{row.prefix}} {{row.last_name}}, {{row.first_name}} | {{row.phone1}} | {{row.email}} | {{row.address1}}</option>
                  {% endfor %}
                </select>
              </div>
            </div>

        </div>
        <!-- SHAREHOLDER INFORMATION -->
        <div id="item13" class="item">

            <br/>
            <div class="form-row">
              <div class="form-group col-md-12">
                <label><h4 style="color: #337ab7;">SHAREHOLDERS</h4></label>
                <input type="text" name="corp710" value='  [serial no: ]' style="height: 40%; font-size: 9px; border: none; background-color: #eaece9;">
              </div>
            <br/>
              <div class="form-group col-md-6">
                <label>1st ShareHolder ( Share Class and Shares | Share Percentage )<br></label>
                <div>
                  <input type="text" class="form-control col-sm-1" name="corp71" value="{{corp.shareholder_info}}" style="width: 85%;">
                  <input type="text" class="form-control col-sm-1" name="corp72" value="{{corp.corp72}}" style="width: 15%;">
                </div>
              </div>
              <div class="form-group col-md-12">
                <label>1st ShareHolder ( SIN | Prefix Last name, First name | address | phone number | email )<br></label>
                <select class="browser-default custom-select form-control" name="corp73" value="{{indiv_list[2]}}" style="width: 90%;">
                  <option value="" >Please select</option>
                  {% for row in indiv_data %}
                  <option >{{row.indiv_id}} | {{row.sin}} | {{row.prefix}} {{row.last_name}}, {{row.first_name}} | {{row.phone1}} | {{row.email}} | {{row.address1}}</option>
                  {% endfor %}
                </select>
              </div>
              <div class="form-group col-md-6">
                <label>2nd ShareHolder ( Share Class and Shares | Share Percentage )<br></label>
                <div>
                  <input type="text" class="form-control col-sm-1" name="corp74" value="{{corp.corp74}}" style="width: 85%;">
                  <input type="text" class="form-control col-sm-1" name="corp75" value="{{corp.corp75}}" style="width: 15%;">
                </div>
              </div>
              <div class="form-group col-md-12">
                <label>2nd ShareHolder ( SIN | Prefix Last name, First name | address | phone number | email )<br></label>
                <select class="browser-default custom-select form-control" name="corp76" value="{{corp.corp76}}" style="width: 90%;">
                  <option value="" >Please select</option>
                  {% for row in indiv_data %}
                  <option >{{row.indiv_id}} | {{row.sin}} | {{row.prefix}} {{row.last_name}}, {{row.first_name}} | {{row.phone1}} | {{row.email}} | {{row.address1}}</option>
                  {% endfor %}
                </select>
              </div>
              <div class="form-group col-md-6">
                <label>3rd ShareHolder ( Share Class and Shares | Share Percentage )<br></label>
                <div>
                  <input type="text" class="form-control col-sm-1" name="corp77" value="{{corp.corp77}}" style="width: 85%;">
                  <input type="text" class="form-control col-sm-1" name="corp78" value="{{corp.corp78}}" style="width: 15%;">
                </div>
              </div>
              <div class="form-group col-md-12">
                <label>3rd ShareHolder ( SIN | Prefix Last name, First name | address | phone number | email )<br></label>
                <select class="browser-default custom-select form-control" name="corp79" value="{{corp.corp79}}" style="width: 90%;">
                  <option value="" >Please select</option>
                  {% for row in indiv_data %}
                  <option >{{row.indiv_id}} | {{row.sin}} | {{row.prefix}} {{row.last_name}}, {{row.first_name}} | {{row.phone1}} | {{row.email}} | {{row.address1}}</option>
                  {% endfor %}
                </select>
              </div>
              <div class="form-group col-md-6">
                <label>4th ShareHolder ( Share Class and Shares | Share Percentage )<br></label>
                <div>
                  <input type="text" class="form-control col-sm-1" name="corp80" value="{{corp.corp80}}" style="width: 85%;">
                  <input type="text" class="form-control col-sm-1" name="corp81" value="{{corp.corp81}}" style="width: 15%;">
                </div>
              </div>
              <div class="form-group col-md-12">
                <label>4th ShareHolder ( SIN | Prefix Last name, First name | address | phone number | email )<br></label>
                <select class="browser-default custom-select form-control" name="corp82" value="{{corp.corp82}}" style="width: 90%;">
                  <option value="" >Please select</option>
                  {% for row in indiv_data %}
                  <option >{{row.indiv_id}} | {{row.sin}} | {{row.prefix}} {{row.last_name}}, {{row.first_name}} | {{row.phone1}} | {{row.email}} | {{row.address1}}</option>
                  {% endfor %}
                </select>
              </div>
            </div>
        </div>
        <!-- Task Information -->
        <div id="item14" class="item">
            <br/>
            <div class="form-row">
              <div class="form-group col-md-12">
                <label><h4 style="color: #337ab7;">Task Information</h4></label>
              </div>
            </div>
        </div>
        <!-- Recent update -->
        <div id="item15" class="item">
          <br/>
          <div class="form-row">
            <div class="form-group col-md-9">
              <label><h4 style="color: #337ab7;">Recent Updates</h4></label>
            </div>
            <div class="form-group col-md-2">
              <a href="#"><button type="submit" class="btn btn-success">Submit</button></a>
              <a href="{{ url_for('corporate')}}" type="cancel" class="btn btn-danger" >Cancel</a>
            </div>
          </div>

        </div>
      </form> 
    </div>
  </div>
</div>
{% endblock %}
{% block scripts %}
    <script src="{{url_for('static', filename='js/jquery-3.5.1.js')}}"></script>
    <script src="{{url_for('static', filename='js/bootstrap.min.js')}}"></script><!-- 这句 控制navbar是否跟着变-->
    <!-- <script src="{{url_for('static', filename='js/bootstrap-select.min.js')}}"></script> -->
    <!-- <script src="{{url_for('static', filename='js/main.js')}}"></script> -->
    <script type="text/javascript">
      //根据窗口大小设置动态CSS，注意var height_val得到的结果总是固定的(CSS文件中设定的值)，
      //如果这个函数里使用location.reload(); 则是死循环，屏幕一直抖动
      //height: '100%' 目的是 去掉窗口太大时，下面漏出的背景
      //height: 'fit-content' 目的是 窗口缩小出现滚动条时，而此时滚动窗口尺寸大于屏幕尺寸，下面出现背景
      
      //$(document).ready(function () {
        $(function () {  
          var height_window=$(window).height();
          var height_val = $('.tbl-field').css("height");
             //此处不严谨，可以通过$(window).height()获取整个屏幕高度后，结合屏幕的内容高度$（‘’）.height()，相减得出判断条件。
          if(height_window>880){
                  $('.tbl-field').css({height: 'fit-content'}); //100%
          } else {
              $('.tbl-field').css({height: 'fit-content'});
          };
          // console.log(height_window);
          // console.log(height_val);
        });
      //})

      $(document).ready(function(){
        var num = [0,530,805,910,1005,1110,1210,1370,1475,1575,1735,2010,2280,2600,2700];
        $('.nav-link').click(function(){
          var index = parseInt(($(this).attr('href')).substring(6));
          if (index == NaN) { index = 1};
          document.documentElement.scrollTop = num[index - 1];
        });
      });

      function scroll(){
        var num = [0,530,805,910,1005,1110,1210,1370,1475,1575,1735,2010,2280,2600,2700];
        var h = document.documentElement.scrollTop;
        for (i=0; i<13; i++) {
          if (h < 225) {
            $('#scrollmenu .menu .nav-link').css({color: '#337ab7'});
            $('#scrollmenu .menu [href="#item-1"]').css({color: 'Red'});
            break;
          } else if (h > (num[i]+30)  && h < num[i+1]) {
            $('#scrollmenu .menu .nav-link').css({color: '#337ab7'});
            $('#scrollmenu .menu [href="#item-' + (i+2) + '"]').css({color: 'Red'});
            break;
          };
        };
      };

      window.onload = function(event) {
        var tmp = ($('form [name="corp59"]').attr('value')).split(',');
        for (i=0; i<4; i++) {
          $('form [name="corp' + (i*2+59) + '"]').val(tmp[i]);
        };
        var tmp = ($('form [name="corp60"]').attr('value').replace('[','').replace(']','').replace(' ','')).split(',');
        for (i=0; i<tmp.length; i++) {
          $('form [name="corp' + (i*2+60) + '"]').prop('selectedIndex',parseInt(tmp[i])+1);
        };
        var tmp = ($('form [name="corp67"]').attr('value').replace('[','').replace(']','').replace(' ','')).split(',');
        for (i=0; i<tmp.length; i++) {
          $('form [name="corp' + (i+67) + '"]').prop('selectedIndex',parseInt(tmp[i])+1);
        };
        var tmp = ($('form [name="corp71"]').attr('value')).split(',');
        for (i=0; i<4; i++) {
          $('form [name="corp' + (i*3+71) + '"]').val(tmp[i*2]);
          $('form [name="corp' + (i*3+72) + '"]').val(tmp[i*2+1]);
        };
        var tmp = ($('form [name="corp73"]').attr('value').replace('[','').replace(']','').replace(' ','')).split(',');
        for (i=0; i<tmp.length; i++) {
          $('form [name="corp' + (i*3+73) + '"]').prop('selectedIndex',parseInt(tmp[i])+1);
        };
        if ($('form [name="corp8"]').attr('value') == "Ontario") {
          $('form [name="corp8"]').prop('selectedIndex',1);
        };
        if ($('form [name="corp27"]').attr('value') == "Quick") {
          $('form [name="corp27"]').prop('selectedIndex',1);
        };
      }


      //改变窗口大小后，自动刷新，如想清楚cache则需要location.reload(true);，这是配合上面的动态CSS使用的
      //$(document).ready(function () 所以页面都生效
      $(window).bind('resize', function() {
        location.reload();
      });
    </script>
{%- endblock scripts %}