{% extends 'base.html' %}

{% block styles %}
    {{super()}} 
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/style.css')}}">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/common.css')}}">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/dataTables.bootstrap.css')}}">
{% endblock %}


{% block content %}
<div class="tbl-field"> 
    <div class="tbl-list">
      {% with messages = get_flashed_messages() %}
      {% if messages %}
      {% for message in messages %}
      <div class="alert alert-success alert-dismissable" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="close">
          <span aria-hidden="true">x</span>
        </button>
        {{message}}
      </div>
      {% endfor %}
      {% endif %}
      {% endwith %}
        <!-- <input class="form-control mb-4" id="tableSearch" type="text"
            placeholder="Type something to search list items">
        <br/> -->
        <table id="corp_table" class="table table-bordered table-striped table-hover" style="font-size: 12px;">
            <thead>
              <tr>
                <th class="th-sm">ID.</th>
                <th class="th-sm">Corp Name</th>
                <th class="th-sm">Busi. No</th>
                <th class="th-sm">Type</th>
                <th class="th-sm">Anni. Date</th>
                <th class="th-sm">Tax year</th>
                <th class="th-sm">Contact</th>
                <th class="th-sm">Phone</th>
                <th class="th-sm">Task No.</th>
              </tr>
            </thead>
            <tbody id="myTable">
            {% for row in corp %}
              <tr class="table-row" data-href="{{url_for('corp_edit')}}/{{row.corp_id}}">
                <td class="col-1">{{row.corp_id}}</td>
                <td class="col-1">{{row.corp2}}</td>
                <td class="col-1">{{row.corp1}}</td>
                <td class="col-1">{{row.corp8}}</td>
                <td class="col-1">{{row.corp9}}-{{row.corp10}}</td>
                <td class="col-1">{{row.corp25}}</td>
                <td class="col-2">{{row.corp19}}, {{row.corp18}}</td>
                <td class="col-2">{{row.corp20}}</td>
                <td class="col-1">{{row.task}}</td>
              </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock content%}
{% block scripts %}
    <script src="{{bootstrap_find_resource('jquery.js', cdn='jquery')}}"></script>
    <script src="{{bootstrap_find_resource('js/bootstrap.js', cdn='bootstrap')}}"></script>
    <script src="{{url_for('static', filename='js/main.js')}}"></script>
    <script src="{{url_for('static', filename='js/jquery-3.5.1.js')}}"></script>
    <script src="{{url_for('static', filename='js/jquery.dataTables.js')}}"></script>
    <script src="{{url_for('static', filename='js/dataTables.bootstrap.js')}}"></script>

    <script type="text/javascript">
      $(document).ready(function() {
        $('#corp_table').DataTable();
      });

    window.onload = function(event) {
      pagetitle = document.title;
      console.log(pagetitle);
      $('#navbar-topmenu li a[name="topbar"]').css("font-weight", "500");
      $('#navbar-topmenu li a[name="topbar"]').css("border-bottom", "none");
      $('li#Corporate a[name="topbar"]').css("font-weight", "550");
      $('li#Corporate a[name="topbar"]').css("border-bottom", "5px solid #b505ee");
    }
    </script>
{%- endblock scripts %}