{% extends 'base.html' %}

{% block styles %}
    {{super()}} 
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/style.css')}}">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/common.css')}}">
{% endblock %}


{% block content %}
<div class="tbl-field"> 
    <div class="tbl-list">
        <input class="form-control mb-4" id="tableSearch" type="text"
            placeholder="Type something to search list items">
        <br/>
        <table class="table table-bordered table-striped table-hover">
            <thead>
              <tr>
                <th class="th-sm">ID.</th>
                <th class="th-sm">Corp Name</th>
                <th class="th-sm">Busi. No</th>
                <th class="th-sm">Type</th>
                <th class="th-sm">Anni. Date</th>
                <th class="th-sm">Tax year</th>
                <th class="th-sm">Contact</th>
                <th class="th-sm">Phone</th>
                <th class="th-sm">Task No.</th>
              </tr>
            </thead>
            <tbody id="myTable">
            {% for row in corp %}
              <tr class="table-row" data-href="{{url_for('corp_edit')}}/{{row.corp_id}}">
                <td class="col-1">{{row.corp_id}}</td>
                <td class="col-1">{{row.corp2}}</td>
                <td class="col-1">{{row.corp1}}</td>
                <td class="col-1">{{row.corp8}}</td>
                <td class="col-1">{{row.corp9}}-{{row.corp10}}</td>
                <td class="col-1">{{row.corp25}}</td>
                <td class="col-2">{{row.corp19}}, {{row.corp18}}</td>
                <td class="col-2">{{row.corp20}}</td>
                <td class="col-1">{{row.task}}</td>
              </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock content%}
{% block scripts %}
    <script src="{{bootstrap_find_resource('jquery.js', cdn='jquery')}}"></script>
    <script src="{{bootstrap_find_resource('js/bootstrap.js', cdn='bootstrap')}}"></script>
    <script src="{{url_for('static', filename='js/main.js')}}"></script>
    <script src="{{url_for('static', filename='js/jquery-3.5.1.js')}}"></script>
    <script type="text/javascript">
    </script>
{%- endblock scripts %}