{% extends 'base.html' %}

{% block styles %}
    {{super()}} 
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/style.css')}}">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/common.css')}}">
{% endblock %}

{% block content %}
<div class="container-fluid tbl-field"> 
  <h3>&nbsp Corporation Name: Garrett Winters -- add Name parameter here</h3>
  <div class="col-sm-2">
    <div id="menu" style="position: fixed;">
        <ul>
          <li><a href="#item1" class="sidenav-first sidenav item1">General Information</a></li>
          <li><a href="#item2" class="sidenav-first item2">CRA Account</a></li>
          <li><a href="#item3" class="sidenav-first item3">WSIB Account</a></li>
          <li><a href="#item4" class="sidenav-first item4">EHT Account</a></li>
          <li><a href="#item5" class="sidenav-first item5">Other Account</a></li>
          <li><a href="#item6" class="sidenav-first item6">Corporate Structure</a></li>
          <li><a href="#item7" class="sidenav-first item7">Corporate Operation</a></li>
          <li><a href="#item8" class="sidenav-first item8">Bank Information</a></li>
          <li><a href="#item9" class="sidenav-first item9">Accounting Software</a></li>
          <li><a href="#item10" class="sidenav-first item10">Engagement</a></li>
          <li><a href="#item11" class="sidenav-first item11">Director Information</a></li>
          <li><a href="#item12" class="sidenav-first item12">Share Holder</a></li>
          <li><a href="#item13" class="sidenav-first item13">Task Information</a></li>
          <li><a href="#item14" id="item-last" class="sidenav-first item14">Recent Updates</a></li>
        </ul>
    </div>
</div>
<div class="col-sm-10">
    <div id="content">
        <div class="item" id="item1">
          <form>
            <br/>
            <div class="form-row">
              <div class="form-group col-md-10">
                <label for="corpname">Corporation Name</label>
                <input type="text" class="form-control" id="corpname">
              </div>
              <div class="form-group col-md-2">
                <label for="busino">Bussiness No.</label>
                <input type="text" class="form-control" id="busino">
              </div>
              <div class="form-group col-md-4">
                <label for="regname">Registration Name</label>
                <input type="text" class="form-control" id="regname">
              </div>
              <div class="form-group col-md-4">
                <label for="mastername">Master Business Name</label>
                <input type="text" class="form-control" id="mastername">
              </div>
              <div class="form-group col-md-2">
                <label for="licencestart">Licence Start </label>
                <input type="text" class="form-control" id="licencestart">
              </div>
              <div class="form-group col-md-2">
                <label for="licenceend">Licence End </label>
                <input type="text" class="form-control" id="licencesend">
              </div>
              <div class="form-group col-md-2">
                <label for="incorpdate">Incorporation Date</label>
                <input type="text" class="form-control" id="incorpdate">
              </div>
              <div class="form-group col-md-2">
                <label for="incorptype">Incorporation Date</label>
                <input type="text" class="form-control" id="incorptype">
              </div>
              <div class="form-group col-md-2">
                <label for="anniversarydate">Anniversary Date</label>
                <input type="text" class="form-control" id="anniversarydate">
              </div>
              <div class="form-group col-md-2">
                <label for="corpkey">Corporation Key</label>
                <input type="text" class="form-control" id="corpkey">
              </div>
              <div class="form-group col-md-2">
                <label for="corpnum">Corporation Number</label>
                <input type="text" class="form-control" id="corpnum">
              </div>
              <div class="form-group col-md-2">
                <label for="ontariocorpnum">ON Corp No.</label>
                <input type="text" class="form-control" id="ontariocorpnum">
              </div>
              <div class="form-group col-md-10">
                <label for="busiaddr">Business Address</label>
                <input type="text" class="form-control" id="busiaddr">
              </div>
              <div class="form-group col-md-2">
                <label for="othernum1">Other Prov No. 1</label>
                <input type="text" class="form-control" id="othernum1">
              </div>
              <div class="form-group col-md-10">
                <label for="mailaddr">Mailing Address</label>
                <input type="text" class="form-control" id="mailaddr">
              </div>
              <div class="form-group col-md-2">
                <label for="othernum2">Other Prov No. 2</label>
                <input type="text" class="form-control" id="othernum2">
              </div>
              <div class="form-group col-md-3">
                <label for="firstname">CRA Contact Person : First name </label>
                <input type="text" class="form-control" id="firstname">
              </div>
              <div class="form-group col-md-3">
                <label for="lastname">Lastname</label>
                <input type="text" class="form-control" id="lastname">
              </div>
              <div class="form-group col-md-2">
                <label for="craphone">CRA Contact Phone</label>
                <input type="text" class="form-control" id="craphone">
              </div>
              <div class="form-group col-md-2">
                <label for="fax">Office Fax</label>
                <input type="text" class="form-control" id="fax">
              </div>
              <div class="form-group col-md-5">
                <label for="email">Email</label>
                <input type="text" class="form-control" id="email">
              </div>
              <div class="form-group col-md-7">
                <label for="website">Website</label>
                <input type="text" class="form-control" id="website">
              </div>
              <div class="form-group col-md-10">
                <label for="wechat">Wechat/Twitter/LinkedIn/Facebook</label>
                <input type="text" class="form-control" id="wechat">
              </div>
              <br/>
              <div class="form-group">
                <label class="col-md-10 control-label" for="button1id">&nbsp&nbsp</label>
                <div class="col-md-10">
                  <button id="buttonsave" name="buttonsave" class="btn btn-success">Save</button>
                  <button id="buttoncancel" name="buttoncancel" class="btn btn-danger">Cancel</button>
                </div>
              </div>
            </div>
          </form>
        </div>
        <!-- CRA Account -->
        <div class="item" id="item2">
          <form>
            <br/>
            <div class="form-row">
              <div class="form-group col-md-2">
                <label for="sidebar2-1">Tax Year End</label>
                <input type="text" class="form-control" id="sidebar2-1">
              </div>
              <div class="form-group col-md-2">
                <label for="sidebar2-2">HST Reporting</label>
                <input type="text" class="form-control" id="sidebar2-2">
              </div>
              <div class="form-group col-md-2">
                <label for="sidebar2-3">Reporting Method</label>
                <input type="text" class="form-control" id="sidebar2-3">
              </div>
              <div class="form-group col-md-2">
                <label for="sidebar2-4">Heporting No.</label>
                <input type="text" class="form-control" id="sidebar2-4">
              </div>
              <div class="form-group col-md-2">
                <label for="sidebar2-5">Payroll Acco No.</label>
                <input type="text" class="form-control" id="sidebar2-5">
              </div>
              <div class="form-group col-md-10">
                <label for="sidebar2-6">HST Account</label>
                <input type="text" class="form-control" id="sidebar2-6">
              </div>
              <div class="form-group col-md-10">
                <label for="sidebar2-7">Payroll Account and T4</label>
                <input type="text" class="form-control" id="sidebar2-7">
              </div>
              <div class="form-group col-md-10">
                <label for="sidebar2-8">Subcontractor and T4A</label>
                <input type="text" class="form-control" id="sidebar2-8">
              </div>
              <div class="form-group col-md-10">
                <label for="sidebar2-9">Dividend and T5 </label>
                <input type="text" class="form-control" id="sidebar2-9">
              </div>
              <div class="form-group col-md-10">
                <label for="sidebar2-10">Withholding Tax Account </label>
                <input type="text" class="form-control" id="sidebar2-10">
              </div>
              <div class="form-group col-md-2">
                <label for="sidebar2-11">Account No.</label>
                <input type="text" class="form-control" id="sidebar2-11">
              </div>
              <div class="form-group col-md-9">
                <label for="sidebar2-12">CRA other account</label>
                <input type="text" class="form-control" id="sidebar2-12">
              </div>
              <div class="form-group col-md-3">
                <label for="sidebar2-13">Account No.</label>
                <input type="text" class="form-control" id="sidebar2-13">
              </div>
              <br/>
              <div class="form-group">
                <label class="col-md-10 control-label" for="button1id">&nbsp&nbsp</label>
                <div class="col-md-10">
                  <button id="buttonsave" name="buttonsave" class="btn btn-success">Save</button>
                  <button id="buttoncancel" name="buttoncancel" class="btn btn-danger">Cancel</button>
                </div>
              </div>
            </div>  
          </form>
        </div>
<!-- CRA Account -->
        <div class="item" id="item2">
          <form>
            <br/>
            <div class="form-row">
              <div class="form-group col-md-2">
                <label for="sidebar2-1">Tax Year End</label>
                <input type="text" class="form-control" id="sidebar2-1">
              </div>
              <div class="form-group col-md-2">
                <label for="sidebar2-2">HST Reporting</label>
                <input type="text" class="form-control" id="sidebar2-2">
              </div>
              <div class="form-group col-md-2">
                <label for="sidebar2-3">Reporting Method</label>
                <input type="text" class="form-control" id="sidebar2-3">
              </div>
              <div class="form-group col-md-2">
                <label for="sidebar2-4">Heporting No.</label>
                <input type="text" class="form-control" id="sidebar2-4">
              </div>
              <div class="form-group col-md-2">
                <label for="sidebar2-5">Payroll Acco No.</label>
                <input type="text" class="form-control" id="sidebar2-5">
              </div>
              <div class="form-group col-md-10">
                <label for="sidebar2-6">HST Account</label>
                <input type="text" class="form-control" id="sidebar2-6">
              </div>
              <div class="form-group col-md-10">
                <label for="sidebar2-7">Payroll Account and T4</label>
                <input type="text" class="form-control" id="sidebar2-7">
              </div>
              <div class="form-group col-md-10">
                <label for="sidebar2-8">Subcontractor and T4A</label>
                <input type="text" class="form-control" id="sidebar2-8">
              </div>
              <div class="form-group col-md-10">
                <label for="sidebar2-9">Dividend and T5 </label>
                <input type="text" class="form-control" id="sidebar2-9">
              </div>
              <div class="form-group col-md-10">
                <label for="sidebar2-10">Withholding Tax Account </label>
                <input type="text" class="form-control" id="sidebar2-10">
              </div>
              <div class="form-group col-md-2">
                <label for="sidebar2-11">Account No.</label>
                <input type="text" class="form-control" id="sidebar2-11">
              </div>
              <div class="form-group col-md-9">
                <label for="sidebar2-12">CRA other account</label>
                <input type="text" class="form-control" id="sidebar2-12">
              </div>
              <div class="form-group col-md-3">
                <label for="sidebar2-13">Account No.</label>
                <input type="text" class="form-control" id="sidebar2-13">
              </div>
              <br/>
              <div class="form-group">
                <label class="col-md-10 control-label" for="button1id">&nbsp&nbsp</label>
                <div class="col-md-10">
                  <button id="buttonsave" name="buttonsave" class="btn btn-success">Save</button>
                  <button id="buttoncancel" name="buttoncancel" class="btn btn-danger">Cancel</button>
                </div>
              </div>
            </div>  
          </form>
        </div>
        <!-- CRA Account -->
        <div class="item" id="item3">
          <form>
            <br/>
            <div class="form-row">
              <div class="form-group col-md-2">
                <label for="sidebar2-1">333333333333</label>
                <input type="text" class="form-control" id="sidebar2-1">
              </div>
              <div class="form-group col-md-2">
                <label for="sidebar2-2">HST Reporting</label>
                <input type="text" class="form-control" id="sidebar2-2">
              </div>
              <div class="form-group col-md-2">
                <label for="sidebar2-3">Reporting Method</label>
                <input type="text" class="form-control" id="sidebar2-3">
              </div>
              <div class="form-group col-md-2">
                <label for="sidebar2-4">Heporting No.</label>
                <input type="text" class="form-control" id="sidebar2-4">
              </div>
              <div class="form-group col-md-2">
                <label for="sidebar2-5">Payroll Acco No.</label>
                <input type="text" class="form-control" id="sidebar2-5">
              </div>
              <div class="form-group col-md-10">
                <label for="sidebar2-6">HST Account</label>
                <input type="text" class="form-control" id="sidebar2-6">
              </div>
              <div class="form-group col-md-10">
                <label for="sidebar2-7">Payroll Account and T4</label>
                <input type="text" class="form-control" id="sidebar2-7">
              </div>
              <div class="form-group col-md-10">
                <label for="sidebar2-8">Subcontractor and T4A</label>
                <input type="text" class="form-control" id="sidebar2-8">
              </div>
              <div class="form-group col-md-10">
                <label for="sidebar2-9">Dividend and T5 </label>
                <input type="text" class="form-control" id="sidebar2-9">
              </div>
              <div class="form-group col-md-10">
                <label for="sidebar2-10">Withholding Tax Account </label>
                <input type="text" class="form-control" id="sidebar2-10">
              </div>
              <div class="form-group col-md-2">
                <label for="sidebar2-11">Account No.</label>
                <input type="text" class="form-control" id="sidebar2-11">
              </div>
              <div class="form-group col-md-9">
                <label for="sidebar2-12">CRA other account</label>
                <input type="text" class="form-control" id="sidebar2-12">
              </div>
              <div class="form-group col-md-3">
                <label for="sidebar2-13">Account No.</label>
                <input type="text" class="form-control" id="sidebar2-13">
              </div>
              <br/>
              <div class="form-group">
                <label class="col-md-10 control-label" for="button1id">&nbsp&nbsp</label>
                <div class="col-md-10">
                  <button id="buttonsave" name="buttonsave" class="btn btn-success">Save</button>
                  <button id="buttoncancel" name="buttoncancel" class="btn btn-danger">Cancel</button>
                </div>
              </div>
            </div>  
          </form>
        </div>
        <!-- CRA Account -->
        <div class="item" id="item4">
          <form>
            <br/>
            <div class="form-row">
              <div class="form-group col-md-10">
                <label for="sidebar2-1">44444</label>
                <input type="text" class="form-control" id="sidebar2-1">
              </div>
              <div class="form-group col-md-10">
                <label for="sidebar2-2">HST Reporting</label>
                <input type="text" class="form-control" id="sidebar2-2">
              </div>
              <div class="form-group col-md-10">
                <label for="sidebar2-3">Reporting Method</label>
                <input type="text" class="form-control" id="sidebar2-3">
              </div>
              <div class="form-group col-md-10">
                <label for="sidebar2-4">Heporting No.</label>
                <input type="text" class="form-control" id="sidebar2-4">
              </div>
              <div class="form-group col-md-10">
                <label for="sidebar2-5">Payroll Acco No.</label>
                <input type="text" class="form-control" id="sidebar2-5">
              </div>
              <div class="form-group col-md-10">
                <label for="sidebar2-6">HST Account</label>
                <input type="text" class="form-control" id="sidebar2-6">
              </div>
              <div class="form-group col-md-10">
                <label for="sidebar2-7">Payroll Account and T4</label>
                <input type="text" class="form-control" id="sidebar2-7">
              </div>
              <div class="form-group col-md-10">
                <label for="sidebar2-8">Subcontractor and T4A</label>
                <input type="text" class="form-control" id="sidebar2-8">
              </div>
              <div class="form-group col-md-10">
                <label for="sidebar2-9">Dividend and T5 </label>
                <input type="text" class="form-control" id="sidebar2-9">
              </div>
              <div class="form-group col-md-10">
                <label for="sidebar2-10">Withholding Tax Account </label>
                <input type="text" class="form-control" id="sidebar2-10">
              </div>
              <div class="form-group col-md-10">
                <label for="sidebar2-11">Account No.</label>
                <input type="text" class="form-control" id="sidebar2-11">
              </div>
              <div class="form-group col-md-9">
                <label for="sidebar2-12">CRA other account</label>
                <input type="text" class="form-control" id="sidebar2-12">
              </div>
              <div class="form-group col-md-10">
                <label for="sidebar2-13">Account No.</label>
                <input type="text" class="form-control" id="sidebar2-13">
              </div>
              <br/>
              <div class="form-group">
                <label class="col-md-10 control-label" for="button1id">&nbsp&nbsp</label>
                <div class="col-md-10">
                  <button id="buttonsave" name="buttonsave" class="btn btn-success">Save</button>
                  <button id="buttoncancel" name="buttoncancel" class="btn btn-danger">Cancel</button>
                </div>
              </div>
            </div>  
          </form>
        </div>
                <!-- CRA Account -->
                <div class="item" id="item5">
                  <form>
                    <br/>
                    <div class="form-row">
                      <div class="form-group col-md-10">
                        <label for="sidebar2-1">55555555</label>
                        <input type="text" class="form-control" id="sidebar2-1">
                      </div>
                      <div class="form-group col-md-10">
                        <label for="sidebar2-2">HST Reporting</label>
                        <input type="text" class="form-control" id="sidebar2-2">
                      </div>
                      <div class="form-group col-md-10">
                        <label for="sidebar2-3">Reporting Method</label>
                        <input type="text" class="form-control" id="sidebar2-3">
                      </div>
                      <div class="form-group col-md-10">
                        <label for="sidebar2-4">Heporting No.</label>
                        <input type="text" class="form-control" id="sidebar2-4">
                      </div>
                      <div class="form-group col-md-10">
                        <label for="sidebar2-5">Payroll Acco No.</label>
                        <input type="text" class="form-control" id="sidebar2-5">
                      </div>
                      <div class="form-group col-md-10">
                        <label for="sidebar2-6">HST Account</label>
                        <input type="text" class="form-control" id="sidebar2-6">
                      </div>
                      <div class="form-group col-md-10">
                        <label for="sidebar2-7">Payroll Account and T4</label>
                        <input type="text" class="form-control" id="sidebar2-7">
                      </div>
                      <div class="form-group col-md-10">
                        <label for="sidebar2-8">Subcontractor and T4A</label>
                        <input type="text" class="form-control" id="sidebar2-8">
                      </div>
                      <div class="form-group col-md-10">
                        <label for="sidebar2-9">Dividend and T5 </label>
                        <input type="text" class="form-control" id="sidebar2-9">
                      </div>
                      <div class="form-group col-md-10">
                        <label for="sidebar2-10">Withholding Tax Account </label>
                        <input type="text" class="form-control" id="sidebar2-10">
                      </div>
                      <div class="form-group col-md-10">
                        <label for="sidebar2-11">Account No.</label>
                        <input type="text" class="form-control" id="sidebar2-11">
                      </div>
                      <div class="form-group col-md-9">
                        <label for="sidebar2-12">CRA other account</label>
                        <input type="text" class="form-control" id="sidebar2-12">
                      </div>
                      <div class="form-group col-md-10">
                        <label for="sidebar2-13">Account No.</label>
                        <input type="text" class="form-control" id="sidebar2-13">
                      </div>
                      <br/>
                      <div class="form-group">
                        <label class="col-md-10 control-label" for="button1id">&nbsp&nbsp</label>
                        <div class="col-md-10">
                          <button id="buttonsave" name="buttonsave" class="btn btn-success">Save</button>
                          <button id="buttoncancel" name="buttoncancel" class="btn btn-danger">Cancel</button>
                        </div>
                      </div>
                    </div>  
                  </form>
                </div>
                <!-- CRA Account -->
                <div class="item" id="item6">
                  <form>
                    <br/>
                    <div class="form-row">
                      <div class="form-group col-md-10">
                        <label for="sidebar2-1">6666666</label>
                        <input type="text" class="form-control" id="sidebar2-1">
                      </div>
                      <div class="form-group col-md-10">
                        <label for="sidebar2-2">HST Reporting</label>
                        <input type="text" class="form-control" id="sidebar2-2">
                      </div>
                       <div class="form-group col-md-10">
                        <label for="sidebar2-7">Payroll Account and T4</label>
                        <input type="text" class="form-control" id="sidebar2-7">
                      </div>
 
                      <br/>
                      <div class="form-group">
                        <label class="col-md-10 control-label" for="button1id">&nbsp&nbsp</label>
                        <div class="col-md-10">
                          <button id="buttonsave" name="buttonsave" class="btn btn-success">Save</button>
                          <button id="buttoncancel" name="buttoncancel" class="btn btn-danger">Cancel</button>
                        </div>
                      </div>
                    </div>  
                  </form>
                </div>
                <div class="item" id="item7">
                  <form>
                    <br/>
                    <div class="form-row">
                      <div class="form-group col-md-10">
                        <label for="sidebar2-1">777777</label>
                        <input type="text" class="form-control" id="sidebar2-1">
                      </div>
                      <div class="form-group col-md-10">
                        <label for="sidebar2-2">HST Reporting</label>
                        <input type="text" class="form-control" id="sidebar2-2">
                      </div>
                       <div class="form-group col-md-10">
                        <label for="sidebar2-7">Payroll Account and T4</label>
                        <input type="text" class="form-control" id="sidebar2-7">
                      </div>
 
                      <br/>
                      <div class="form-group">
                        <label class="col-md-10 control-label" for="button1id">&nbsp&nbsp</label>
                        <div class="col-md-10">
                          <button id="buttonsave" name="buttonsave" class="btn btn-success">Save</button>
                          <button id="buttoncancel" name="buttoncancel" class="btn btn-danger">Cancel</button>
                        </div>
                      </div>
                    </div>  
                  </form>
                </div>
    </div>
</div>

{% endblock %}