{% extends 'base.html' %}

{% block styles %}
{{super()}}
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/style.css')}}">
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/common.css')}}">
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/dataTables.bootstrap.css')}}">
<style>
  #success_message{ display: none;}
  form label.control-label{
    padding: 0px 13px 0px 0px;
    text-align-last: right;
    margin: 5px 0px 0px 0px;
    font-size: 13px;
  }
</style>
{% endblock %}

{% block content %}
<div class="tbl-field" style="height: fit-content;">
    
    <h4 style="margin-left: 50px;">&nbsp Timesheet ID: {{timesheet.timesheet_id}} &nbsp &nbsp Update</h4>
    <div class="row" style="margin: 0% 20% 0% 20%;">    
        <form id="my_form" action="{{url_for('dailyentry_edit')}}/{{timesheet.timesheet_id}}" method="POST">
            
            <div class="form-group" name="Startdate">
                <label class="col-sm-3 control-label">Start date</label>
                <div class="col-sm-9 inputGroupContainer" style="padding: 0px;">
                    <div class="input-group" style="width: 50%;">
                        <!-- <span class="input-group-addon"><i class="glyphicon glyphicon-time"></i></span> -->
                        <input type="date" class="form-control" name="timesheetedit1" value="{{timesheet.startdate}}" style="padding: 3px 12px;">
                    </div>
                </div>
            </div>
            <div class="form-group" name="Calendarhour">
                <label class="col-sm-3 control-label">Calendar hour(h:m)</label>
                <div class="col-sm-9 inputGroupContainer" style="padding: 0px;">
                    <div class="input-group" style="width: 30%;">
                        <input type="text" class="form-control" name="timesheetedit2" value="{{timesheet.calhour}}" readonly style="background-color: #fff;">
                    </div>
                </div>
            </div>
            <div class="form-group" name="Adjusthour">
                <label class="col-sm-3 control-label">Adjust hour(hh:mm)</label>
                <div class="col-sm-9 inputGroupContainer" style="padding: 0px;">
                    <div class="input-group" style="width: 100%;">
                        <input type="text" class="form-control" name="timesheetedit3" value="{{timesheet.adjhour}} : {{timesheet.adjmin}}" onfocusout="cal_workhour()" style="width: 30%;">
                        <input type="text" class="form-control" value="(please input (-)hh:mm)" style="width: 30%;  border: none; background-color: #eaece9;;" readonly>
                    </div>
                </div>
            </div>
            <div class="form-group" name="workhour">
                <label class="col-sm-3 control-label">Work hour(hr)</label>
                <div class="col-sm-9 inputGroupContainer" style="padding: 0px;">
                    <div class="input-group" style="width: 30%;">
                        <input type="number" step=".01" class="form-control" name="timesheetedit4" value="{{timesheet.workhour}}" >
                    </div>
                </div>
            </div>
            <div class="form-group" name="entryname">
                <label class="col-sm-3 control-label">Task Name</label>
                <div class="col-sm-9 inputGroupContainer" style="padding: 0px;">
                    <div class="input-group" style="width: 80%;">
                        <input type="text" class="form-control" name="timesheetedit5" value="{{timesheet.entryname}}">
                    </div>
                </div>
            </div>
            <div class="form-group" name="entrycontent">
                <label class="col-sm-3 control-label">Task Content</label>
                <div class="col-sm-9 inputGroupContainer" style="padding: 0px;">
                    <div class="input-group" style="width: 100%;">
                        <input type="text" class="form-control" name="timesheetedit6" value="{{timesheet.entrycontent}}">
                    </div>
                </div>
            </div>
            <div class="form-group" name="activitytype">
              <label class="col-sm-3 control-label" >Task Type</label>
              <div class="col-sm-9 inputGroupContainer"  style="padding: 0px;">
                <div class="input-group">
                    <select class="form-control browser-default custom-select" name="timesheetedit7" value="{{timesheet.activitytype}}">
                        <option value="" >Please select</option>
                        {% for row in code_types %}
                        <option >{{row.name}}</option>
                        {% endfor %}
                    </select>
                </div>
              </div>   
            </div>
            <div class="form-group" name="corp1">
                <label class="col-sm-3 control-label" >Corporation 01</label>
                <div class="col-sm-9 inputGroupContainer"  style="padding: 0px;">
                  <div class="input-group">
                        <select class="form-control browser-default custom-select" name="timesheetedit8" value="{{idx[0]}}">
                            <option value="" >Please select</option>
                            {% for row in tasklist %}
                            <option >{{row.task_id}} | {{row.periodend}} | {{row.recurrence}} | {{row.jobtype_code}} | {{row.client_corp_name}}</option>
                            {% endfor %} 
                        </select>
                  </div>
                </div>   
            </div>
            <div class="form-group" name="corp2">
                <label class="col-sm-3 control-label" >Corporation 02</label>
                <div class="col-sm-9 inputGroupContainer"  style="padding: 0px;">
                  <div class="input-group">
                        <select class="form-control browser-default custom-select" name="timesheetedit9" value="{{idx[1]}}">
                            <option value="" >Please select</option>
                            {% for row in tasklist %}
                            <option >{{row.task_id}} | {{row.periodend}} | {{row.recurrence}} | {{row.jobtype_code}} | {{row.client_corp_name}}</option>
                            {% endfor %} 
                        </select>
                  </div>
                </div>   
            </div>
            <div class="form-group" name="corp3">
                <label class="col-sm-3 control-label" >Corporation 03</label>
                <div class="col-sm-9 inputGroupContainer"  style="padding: 0px;">
                  <div class="input-group">
                        <select class="form-control browser-default custom-select" name="timesheetedit10" value="{{idx[2]}}">
                            <option value="" >Please select</option>
                            {% for row in tasklist %}
                            <option >{{row.task_id}} | {{row.periodend}} | {{row.recurrence}} | {{row.jobtype_code}} | {{row.client_corp_name}}</option>
                            {% endfor %} 
                        </select>
                  </div>
                </div>   
            </div>
            <div class="form-group" name="corp4">
                <label class="col-sm-3 control-label" >Corporation 04</label>
                <div class="col-sm-9 inputGroupContainer"  style="padding: 0px;">
                  <div class="input-group">
                        <select class="form-control browser-default custom-select" name="timesheetedit11" value="{{idx[3]}}">
                            <option value="" >Please select</option>
                            {% for row in tasklist %}
                            <option >{{row.task_id}} | {{row.periodend}} | {{row.recurrence}} | {{row.jobtype_code}} | {{row.client_corp_name}}</option>
                            {% endfor %} 
                        </select>
                  </div>
                </div>   
            </div>
            <div class="form-group" name="staff">
                <label class="col-sm-3 control-label">Staff</label>
                <div class="col-sm-9 inputGroupContainer" style="padding: 0px;">
                    <div class="input-group" style="width: 50%;">
                        <input type="text" class="form-control" name="timesheetedit12" value="{{timesheet.staff}}">
                    </div>
                </div>
            </div>
            <div class="form-group" style="text-align: right;">
                <a href="#"><button type="submit" class="btn btn-success">Update</button></a>
                <a href="{{ url_for('dailyentry')}}" type="cancel" class="btn btn-danger" >Cancel</a>
            </div>
            <!-- Success message -->
            <div class="alert alert-success" role="alert" id="success_message">Success <i class="glyphicon glyphicon-thumbs-up"></i> Make sure above data is valid.
            </div>
        </form>
    </div>
</div>
{% endblock %}
{% block scripts %}
<script src="{{url_for('static', filename='js/jquery-3.5.1.js')}}"></script>
<script src="{{url_for('static', filename='js/main.js')}}"></script>
<script src="{{url_for('static', filename='js/jquery.dataTables.js')}}"></script>
<script src="{{url_for('static', filename='js/dataTables.bootstrap.js')}}"></script>
<script src="{{url_for('static', filename='js/bootstrap.min.js')}}"></script>
<script src="{{url_for('static', filename='js/bootstrapValidator.min.js')}}"></script> 

<script type="text/javascript">

  window.onload = function(event) {
    var tmp = $('form#my_form [name="timesheetedit8"]').attr('value');
    $('form#my_form [name="timesheetedit8"]').prop('selectedIndex', parseInt(tmp));
    tmp = $('form#my_form [name="timesheetedit9"]').attr('value');
    $('form#my_form [name="timesheetedit9"]').prop('selectedIndex', parseInt(tmp));
    tmp = $('form#my_form [name="timesheetedit10"]').attr('value');
    $('form#my_form [name="timesheetedit10"]').prop('selectedIndex', parseInt(tmp));
    tmp = $('form#my_form [name="timesheetedit11"]').attr('value');
    $('form#my_form [name="timesheetedit11"]').prop('selectedIndex', parseInt(tmp));
    tmp = $('form#my_form [name="timesheetedit7"]').attr('value');
    $('form#my_form [name="timesheetedit7"]').val(tmp);

    pagetitle = document.title;
    console.log(pagetitle);
    $('#navbar-topmenu li a[name="topbar"]').css("font-weight", "500");
    $('#navbar-topmenu li a[name="topbar"]').css("border-bottom", "none");
    $('li#timesheet a[name="topbar"]').css("font-weight", "550");
    $('li#timesheet a[name="topbar"]').css("border-bottom", "5px solid #b505ee");
  };

  function cal_workhour() {
    var cal = (($('form#my_form [name="timesheetedit2"]').val()).replace(/ /g,'')).split(':');
    var adj = (($('form#my_form [name="timesheetedit3"]').val()).replace(/ /g,'')).split(':');
    var opr = 1;
    cal = parseInt(cal[0])*60 + parseInt(cal[1]);
    if (adj[0].startsWith('-', 0)){var opr = -1};
    adj = parseInt(adj[0])*60*opr + parseInt(adj[1]);
    var time = (cal + adj*opr);
    if (time <= 0) {
        time = 0;
    } else {
        time = parseFloat((time/60).toFixed(2));
    }
    $('form#my_form [name="timesheetedit4"]').val(time);
  }

</script>
{%- endblock scripts %}