{% extends 'base.html' %}

{% block styles %}
{{super()}}
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/style.css')}}">
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/common.css')}}">
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/dataTables.bootstrap.css')}}">
<style>
    #success_message {
        display: none;
    }

    #Sheetlist {
        font-size: 13px;
    }

    #timesheettopbar {
        margin-top: 10px;
        margin-bottom: 10px;
        height: 35px;
    }

    #timesheettopbar input#tableSearch {
        margin: 0px;
        height: 30px;
        vertical-align: middle;
    }

    #timesheettopbar select {
        height: 30px;
    }

    #timesheettopbar button {
        height: 30px;
        padding: 5px 15px 15px;
    }

    .table th {
        text-align: center;
    }

    #myTable td {
        padding: 3px;
        vertical-align: middle;
    }
</style>
{% endblock %}

{% block content %}
<div class="tbl-field">
  <div id="dailyentrylist" class="container-fluid" style="margin: 20px 60px 0px 60px;">
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message in messages %}
    <div class="alert alert-success alert-dismissable" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="close">
        <span aria-hidden="true">x</span>
      </button>
      {{message}}
    </div>
    {% endfor %}
    {% endif %}
    {% endwith %}
    <div id="timesheettopbar" class="container-fluid row">
        <div class="form-group col-sm-8 col-sm-offset-4" style="text-align: right;">
            <form action="" method="POST" autocomplete="off">
                Filter
                <select name="dateselect" style="width: 25%;">
                    <option value="">Please select date</option>
                    {% for row in datefilter %}
                    <option>{{row.startdate}}</option>
                    {% endfor %}
                </select>
                <select name="userselect" style="width: 25%;">
                    <option value="">Please select user</option>
                    {% for row in userfilter %}
                    <option>{{row.staff}}</option>
                    {% endfor %}
                </select>
                <!-- <a href="{{url_for('timesheetlist')}}">Go</a> -->
                <button type="submit" class="btn btn btn-success">Go</button>
            </form>
        </div>
    </div>    
    <table id="dailyentry_table" class="table table-bordered table-striped table-hover" style="font-size: 13px;">
        <thead>
            <tr>
                <th class="col-1">ID</th>
                <th class="col-1">Date</th>
                <th class="col-2">TaskName</th>
                <th class="col-1">TaskType</th>
                <th class="col-2">Corporation</th>
                <th class="col-1">WorkHour</th>
                <th class="col-2">Content</th>
                <th class="col-1">Staff</th>
                <th class="col-1">Action</th>
            </tr>
        </thead>
        <tbody id="myTable">
            {% for row in listdata %}
            <tr>
                <td class="col-1">{{row.timesheet_id}}</td>
                <td class="col-1">{{row.startdate}}</td>
                <td class="col-2">{{row.taskname}}</td>
                <td class="col-1">{{row.tasktype}}</td>
                <td class="col-2">{{row.corp1}}</td>
                <td class="col-1" style="text-align: center;">{{row.workhour}}</td>
                <td class="col-2">{{row.taskcontent}}</td>
                <td class="col-1">{{row.staff}}</td>
                <td class="col-1">
                    <div style="display: inline-block;">
                        <a href="{{ url_for('dailyentry_edit') }}/{{row.timesheet_id}}" class="btn btn-info btn-xs" style="font-size: 11px;">Edit</a>
                    </div>
                    <div style="display: inline-block;">
                        <form action="{{url_for('dailyentry_del')}}/{{row.timesheet_id}}" method="POST">
                            <a href="#"><button type="submit" class="btn btn-danger btn-xs" onclick="return confirm('Are You Sure To Delete ?')" style="font-size: 11px;">Del</button></a>
                        </form>
                    </div>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
  </div>
</div>
{% endblock %}

{% block scripts %}
<script src="{{url_for('static', filename='js/jquery-3.5.1.js')}}"></script>
<script src="{{url_for('static', filename='js/main.js')}}"></script>
<script src="{{url_for('static', filename='js/jquery.dataTables.js')}}"></script>
<script src="{{url_for('static', filename='js/dataTables.bootstrap.js')}}"></script>
<script src="{{url_for('static', filename='js/bootstrap.min.js')}}"></script>
<script src="{{url_for('static', filename='js/bootstrapValidator.min.js')}}"></script> 

<script type="text/javascript">
  $(document).ready(function () {
    $('#dailyentry_table').DataTable();
  });
</script>
{%- endblock scripts %}