{% extends 'base.html' %}

{% block styles %}
{{super()}}
  <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/style.css')}}">
  <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/common.css')}}">
  <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/bootstrap.min.css')}}"><!-- 这句 用本地bootstrap.min.css格式就乱了-->
  <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/style-corp.css')}}">
  <style>
    form .form-row .form-group label {
      font-size: 12px; 
      font-weight: 500 !important; /*default  700*/
      margin: 0px; /*default  5px*/
    }
    form .form-row .form-group, form .form-row .form-group input.form-control {
      font-size: 12px;
      margin: 3px 0px 3px 0px; /*default  5px*/
      padding: 0px 3px 0px 3px;
    }
    form .browser-default.custom-select {
      width: 100%; 
      height: 32px; 
      border: none; 
      background: #ffffff;
    }
  </style>
 {% endblock %}

{% block body_attribs %}

{% endblock body_attribs %}

{% block content %}
<div class="tbl-field">
    <div class="row">
        <form action="{{url_for('individual_del')}}/{{indiv_data.indiv_id}}" method="POST">
          <div class="form-group col-md-9" style="margin-bottom: 0px;">
            <h3>&nbsp Individual ID: {{indiv_data.indiv_id}} &nbsp Name: {{indiv_data.prefix}} {{indiv_data.last_name}}, {{indiv_data.first_name}}</h3>
          </div>
          <div class="form-group col-md-3" style="margin: 20px 0px 0px 0px;">
            <a href="{{url_for('individual_del')}}/{{indiv_data.indiv_id}}"><button type="submit" class="btn btn-info" style="padding: 3px 12px 3px 12px;">Delete Individual</button></a>
            <a href="{{ url_for('individual')}}" type="cancel" class="btn btn-info" style="padding: 3px 12px 3px 12px;">Cancel</a>
          </div>
        </form>
      </div>

  <div class="row" style="margin-left: 70px; margin-right: 70px;">
    
    <form action="{{url_for('individual_edit')}}/{{indiv_data.indiv_id}}" method="POST">
      <!-- <div id="corpedit" class="scroll overflow-auto" style="height: 600px; overflow-y: auto;"> -->
        <div class="form-row">
          <div class="form-group col-md-12">
            <label><h4 style="color: #337ab7;">General Information</h4></label>
          </div>

          <div class="form-group col-md-1">
            <label>SIN</label>
            <input type="text" class="form-control" name="indiv1" value="{{indiv_data.sin}}">
          </div>
          <div class="form-group col-md-1">
            <label>Prefix</label>
            <select class="browser-default custom-select form-control" name="indiv2" value="{{indiv_data.prefix}}" style="margin: 3px 0px 3px 0px; padding: 0px 3px 0px 3px;">
              <option>Mr.</option>
              <option>Mrs.</option>
              <option>Ms.</option>
              <option>Miss.</option>
            </select>
          </div>
          <div class="form-group col-md-2">
            <label>Last name</label>
            <input type="text" class="form-control" name="indiv3" value="{{indiv_data.last_name}}">
          </div>
          <div class="form-group col-md-2">
            <label >First name</label>
            <input type="text" class="form-control" name="indiv4" value="{{indiv_data.first_name}}">
          </div>
          <div class="form-group col-md-2">
            <label >Middle/other name</label>
            <input type="text" class="form-control" name="indiv5" value="{{indiv_data.other_name}}">
          </div>
          <div class="form-group col-md-2">
            <label>Email</label>
            <input type="text" class="form-control" name="indiv6" value="{{indiv_data.email}}">
          </div>
          <div class="form-group col-md-1">
            <label>Phone1</label>
            <input type="text" class="form-control" name="indiv7" value="{{indiv_data.phone1}}" onfocusout="phone_format1()">
          </div>
          <div class="form-group col-md-1">
            <label>Phone2</label>
            <input type="text" class="form-control" name="indiv8" value="{{indiv_data.phone2}}" onfocusout="phone_format2()">
          </div>

          <div class="form-group col-md-3">
            <label>Address 1</label>
            <input type="text" class="form-control" name="indiv9" value="{{indiv_data.address1}}">
          </div>
          <div class="form-group col-md-3">
            <label>Address 2</label>
            <input type="text" class="form-control" name="indiv10" value="{{indiv_data.address2}}">
          </div>
          <div class="form-group col-md-3">
            <label>Mailing address</label>
            <input type="text" class="form-control" name="indiv11" value="{{indiv_data.mail_address}}">
          </div>
          <div class="form-group col-md-3">
            <label>Wechat/Twitter/LinkedIn/Facebook/</label>
            <input type="text" class="form-control" name="indiv12" value="{{indiv_data.wechat}}">
          </div>
          <!-- CRA -->
          <div class="form-group col-md-12">
            <label><h4 style="color: #337ab7;">CRA Information</h4></label>
          </div>

          <div class="form-group col-md-4">
            <label>Sole proprietorship and T4A</label>
            <input type="text" class="form-control" name="indiv13" value= "{{indiv_data.cra_sole_proprietor}}">
          </div>
          <div class="form-group col-md-4">
            <label>HST Reporting</label>
            <input type="text" class="form-control" name="indiv14" value = "{{indiv_data.cra_hst_report}}">
          </div>
          <div class="form-group col-md-4">
            <label >Payroll Account</label>
            <input type="text" class="form-control" name="indiv15" value = "{{indiv_data.cra_payroll}}">
          </div>
          <div class="form-group col-md-4">
            <label >Withholding Tax Account</label>
            <input type="text" class="form-control" name="indiv16" value = "{{indiv_data.cra_withhold_tax}}">
          </div>
          <div class="form-group col-md-2">
            <label>WSIB Account</label>
            <input type="text" class="form-control" name="indiv17" value = "{{indiv_data.cra_wsib}}">
          </div>
          <div class="form-group col-md-4">
            <label>Other Account</label>
            <input type="text" class="form-control" name="indiv18" value = "{{indiv_data.cra_other}}">
          </div>
          <!-- Oversea Assets/corporation -->
          <div class="form-group col-md-12">
            <label><h4 style="color: #337ab7;">Oversea Assets/corporation</h4></label>
          </div>

          <!-- <div class="form-group col-md-2">
            <label>Oversea Assets </label>
            <input type="text" class="form-control" name="indiv1" placeholder="Yes/No">
          </div> -->
          <div class="form-group col-md-12">
            <label>T1135 Oversea Assets Report</label>
            <input type="text" class="form-control" name="indiv19" value = "{{indiv_data.oversea_asset_t1135}}">
          </div>
          <!-- <div class="form-group col-md-2">
            <label >Oversea Corporation</label>
            <input type="text" class="form-control" name="indiv3" placeholder="Yes/No">
          </div> -->
          <div class="form-group col-md-12">
            <label >T1134 Oversea Corporation</label>
            <input type="text" class="form-control" name="indiv20" value = "{{indiv_data.oversea_corp_t1134}}">
          </div>
          <!-- T1 Information -->
          <div class="form-group col-md-12">
            <label><h4 style="color: #337ab7;">T1 Information</h4></label>
          </div>

          <div class="form-group col-md-3">
            <label>Tslip Type</label>
            <input type="text" class="form-control" name="indiv21" value = "{{indiv_data.tslip}}">
          </div>
          <div class="form-group col-md-9">
            <label>Tax personal information</label>
            <input type="text" class="form-control" name="indiv22" value = "{{indiv_data.tax_personal_info}}">
          </div>
          <div class="form-group col-md-12">
            <label>Specific information</label>
            <input type="text" class="form-control" name="indiv23" value = "{{indiv_data.specific_info}}">
          </div>
          <!-- Engagement  -->
          <div class="form-group col-md-12">
            <label><h4 style="color: #337ab7;">Engagement</h4></label>
          </div>

          <div class="form-group col-md-12">
            <label>Accounting Service </label>
            <input type="text" class="form-control" name="indiv24" value = "{{indiv_data.engage_account}}">
          </div>
          <div class="form-group col-md-12">
            <label>Leading </label>
            <input type="text" class="form-control" name="indiv25" value = "{{indiv_data.engage_leading}}">
          </div>
          <!-- Note  -->
          <div class="form-group col-md-12">
            <label><h4 style="color: #337ab7;">Note</h4></label>
          </div>
          <div class="form-group col-md-12">
            <input type="text" class="form-control" name="indiv26" value = "{{indiv_data.note}}">
          </div>

          <!-- As contacts for Corporations  -->
          <div class="form-group col-md-12">
            <label><h4 style="color: #337ab7;">Corporatons, as Contact for</h4></label>
          </div>
          <div class="form-group col-md-4">
            <label>Corporaton 01</label>
            <select class="browser-default custom-select" name="indiv27" value="{{corp_list[0]}}">
              <option value="" >Please select</option>
              {% for row in corp_dropdown %}
              <option >{{row.corp_id}} | {{row.corp2}} | {{row.corp1}}</option>
              {% endfor %}
            </select>
          </div>
          <div class="form-group col-md-4">
            <label>Corporaton 02</label>
            <select class="browser-default custom-select" name="indiv28">
              <option value="" >Please select</option>
              {% for row in corp_dropdown %}
              <option >{{row.corp_id}} | {{row.corp2}} | {{row.corp1}}</option>
              {% endfor %}
            </select>
          </div>
          <div class="form-group col-md-4">
            <label>Corporaton 03</label>
            <select class="browser-default custom-select" name="indiv29">
              <option value="" >Please select</option>
              {% for row in corp_dropdown %}
              <option >{{row.corp_id}} | {{row.corp2}} | {{row.corp1}}</option>
              {% endfor %}
            </select>
          </div>

          <!-- As Director for Corporations  -->
          <div class="form-group col-md-12">
            <label><h4 style="color: #337ab7;">Corporatons, as Director for</h4></label>
          </div>
          <div class="form-group col-md-4">
            <label>Corporaton 01</label>
            <select class="browser-default custom-select" name="indiv30" value="{{corp_list[1]}}">
              <option value="" >Please select</option>
              {% for row in corp_dropdown %}
              <option >{{row.corp_id}} | {{row.corp2}} | {{row.corp1}}</option>
              {% endfor %}
            </select>
          </div>
          <div class="form-group col-md-4">
            <label>Corporaton 02</label>
            <select class="browser-default custom-select" name="indiv31">
              <option value="" >Please select</option>
              {% for row in corp_dropdown %}
              <option >{{row.corp_id}} | {{row.corp2}} | {{row.corp1}}</option>
              {% endfor %}
            </select>
          </div>
          <div class="form-group col-md-4">
            <label>Corporaton 03</label>
            <select class="browser-default custom-select" name="indiv32">
              <option value="" >Please select</option>
              {% for row in corp_dropdown %}
              <option >{{row.corp_id}} | {{row.corp2}} | {{row.corp1}}</option>
              {% endfor %}
            </select>
          </div>

          <!-- As Shareholder for Corporations  -->
          <div class="form-group col-md-12">
            <label><h4 style="color: #337ab7;">Corporatons, as Shareholder for</h4></label>
          </div>
          <div class="form-group col-md-4">
            <label>Corporaton 01</label>
            <select class="browser-default custom-select" name="indiv33" value="{{corp_list[2]}}">
              <option value="" >Please select</option>
              {% for row in corp_dropdown %}
              <option >{{row.corp_id}} | {{row.corp2}} | {{row.corp1}}</option>
              {% endfor %}
            </select>
          </div>
          <div class="form-group col-md-4">
            <label>Corporaton 02</label>
            <select class="browser-default custom-select" name="indiv34">
              <option value="" >Please select</option>
              {% for row in corp_dropdown %}
              <option >{{row.corp_id}} | {{row.corp2}} | {{row.corp1}}</option>
              {% endfor %}
            </select>
          </div>
          <div class="form-group col-md-4">
            <label>Corporaton 03</label>
            <select class="browser-default custom-select" name="indiv35">
              <option value="" >Please select</option>
              {% for row in corp_dropdown %}
              <option >{{row.corp_id}} | {{row.corp2}} | {{row.corp1}}</option>
              {% endfor %}
            </select>
          </div>

          <!-- Spouse  -->
          <div class="form-group col-md-12">
            <hr style="height:2px;border-width:0;color:gray;background-color:#dad7d7; margin-bottom: 10px;">
            <label><h4 style="color: #337ab7;">Spouse</h4></label>
          </div>
          <div class="form-group col-md-4">
            <label>Spouse/Common_law</label>
            <select class="browser-default custom-select" name="indiv36" value="{{indiv_relation_list[0]}}">
              <option value="" >Please select</option>
              {% for row in indiv_dropdown %}
              <option >{{row.indiv_id}} | {{row.sin}} | {{row.prefix}} {{row.last_name}}, {{row.first_name}}</option>
              {% endfor %}
            </select>
          </div>
          <div class="form-group col-md-4">
            <label>Spouse, ...</label>
            <select class="browser-default custom-select" name="indiv37">
              <option value="" >Please select</option>
              {% for row in indiv_dropdown %}
              <option >{{row.indiv_id}} | {{row.sin}} | {{row.prefix}} {{row.last_name}}, {{row.first_name}}</option>
              {% endfor %}
            </select>
          </div>

          <!-- Parents  -->
          <div class="form-group col-md-12">
            <label><h4 style="color: #337ab7;">Parents</h4></label>
          </div>
          <div class="form-group col-md-3">
            <label>Parent</label><txt style="font-size: xx-small;"> &nbsp 10</txt>
            <select class="browser-default custom-select" name="indiv38" value="{{indiv_relation_list[1]}}">
              <option value="" >Please select</option>
              {% for row in indiv_dropdown %}
              <option >{{row.indiv_id}} | {{row.sin}} | {{row.prefix}} {{row.last_name}}, {{row.first_name}}</option>
              {% endfor %}
            </select>
          </div>
          <div class="form-group col-md-3">
            <label>Parent</label><txt style="font-size: xx-small;"> &nbsp 11</txt>
            <select class="browser-default custom-select" name="indiv39">
              <option value="" >Please select</option>
              {% for row in indiv_dropdown %}
              <option >{{row.indiv_id}} | {{row.sin}} | {{row.prefix}} {{row.last_name}}, {{row.first_name}}</option>
              {% endfor %}
            </select>
          </div>
          <div class="form-group col-md-3">
            <label>Parent</label><txt style="font-size: xx-small;"> &nbsp 20</txt>
            <select class="browser-default custom-select" name="indiv40">
              <option value="" >Please select</option>
              {% for row in indiv_dropdown %}
              <option >{{row.indiv_id}} | {{row.sin}} | {{row.prefix}} {{row.last_name}}, {{row.first_name}}</option>
              {% endfor %}
            </select>
          </div>
          <div class="form-group col-md-3">
            <label>Parent</label><txt style="font-size: xx-small;"> &nbsp 21</txt>
            <select class="browser-default custom-select" name="indiv41">
              <option value="" >Please select</option>
              {% for row in indiv_dropdown %}
              <option >{{row.indiv_id}} | {{row.sin}} | {{row.prefix}} {{row.last_name}}, {{row.first_name}}</option>
              {% endfor %}
            </select>
          </div>

          <!-- Children  -->
          <div class="form-group col-md-12">
            <label><h4 style="color: #337ab7;">Children</h4></label>
          </div>
          <div class="form-group col-md-3">
            <label>Child</label><txt style="font-size: xx-small;"> &nbsp 01</txt>
            <select class="browser-default custom-select" name="indiv42" value="{{indiv_relation_list[2]}}">
              <option value="" >Please select</option>
              {% for row in indiv_dropdown %}
              <option >{{row.indiv_id}} | {{row.sin}} | {{row.prefix}} {{row.last_name}}, {{row.first_name}}</option>
              {% endfor %}
            </select>
          </div>
          <div class="form-group col-md-3">
            <label>Child</label><txt style="font-size: xx-small;"> &nbsp 02</txt>
            <select class="browser-default custom-select" name="indiv43">
              <option value="" >Please select</option>
              {% for row in indiv_dropdown %}
              <option >{{row.indiv_id}} | {{row.sin}} | {{row.prefix}} {{row.last_name}}, {{row.first_name}}</option>
              {% endfor %}
            </select>
          </div>
          <div class="form-group col-md-3">
            <label>Child</label><txt style="font-size: xx-small;"> &nbsp 03</txt>
            <select class="browser-default custom-select" name="indiv44">
              <option value="" >Please select</option>
              {% for row in indiv_dropdown %}
              <option >{{row.indiv_id}} | {{row.sin}} | {{row.prefix}} {{row.last_name}}, {{row.first_name}}</option>
              {% endfor %}
            </select>
          </div>
          <div class="form-group col-md-3">
            <label>Child</label><txt style="font-size: xx-small;"> &nbsp 04</txt>
            <select class="browser-default custom-select" name="indiv45">
              <option value="" >Please select</option>
              {% for row in indiv_dropdown %}
              <option >{{row.indiv_id}} | {{row.sin}} | {{row.prefix}} {{row.last_name}}, {{row.first_name}}</option>
              {% endfor %}
            </select>
          </div>

          <div class="form-group col-md-12">
              <label> &nbsp</label>
          </div>
          <div>
            <div class="form-group col-md-11" style="text-align: right;">
                <a href="#"><button type="submit" class="btn btn-success">Submit</button></a>
                <a href="{{ url_for('individual')}}" type="cancel" class="btn btn-danger" >Cancel</a>
            </div>
          </div>
        </div>
    </form> 
  </div>
</div>
{% endblock %}
{% block scripts %}
    <script src="{{url_for('static', filename='js/jquery-3.5.1.js')}}"></script>
    <script src="{{url_for('static', filename='js/bootstrap.min.js')}}"></script><!-- 这句 控制navbar是否跟着变-->
    <script src="{{url_for('static', filename='js/bootstrap-multiselect.js')}}"></script>
    <!-- <script src="{{url_for('static', filename='js/main.js')}}"></script> -->
    <script type="text/javascript">
        //根据窗口大小设置动态CSS，注意var height_val得到的结果总是固定的(CSS文件中设定的值)，
        //如果这个函数里使用location.reload(); 则是死循环，屏幕一直抖动
        //height: '100%' 目的是 去掉窗口太大时，下面漏出的背景
        //height: 'fit-content' 目的是 窗口缩小出现滚动条时，而此时滚动窗口尺寸大于屏幕尺寸，下面出现背景
        
        //$(document).ready(function () {
        $(function () {  
            var height_window=$(window).height();
            var height_val = $('.tbl-field').css("height");
               //此处不严谨，可以通过$(window).height()获取整个屏幕高度后，结合屏幕的内容高度$（‘’）.height()，相减得出判断条件。
            if(height_window>880){
                    $('.tbl-field').css({height: 'fit-content'}); //100%
            } else {
                $('.tbl-field').css({height: 'fit-content'});
            };
            // console.log(height_window);
            // console.log(height_val);
        });
        //})

        window.onload = function(event) {
            var tmp = $('form [name="indiv2"]').attr('value')
            var index = ['Mr.','Mrs.','Ms.','Miss.'].indexOf(tmp)
            if (index >= 0 && index < 4) {
                $('form [name="indiv2"]').prop('selectedIndex',index);
            }
            tmp = ($('form [name="indiv27"]').attr('value').replace('[','').replace(']','').replace(' ','')).split(',');
            for (i=0; i<tmp.length; i++) {
            $('form [name="indiv' + (i+27) + '"]').prop('selectedIndex',parseInt(tmp[i])+1);
            };
            tmp = ($('form [name="indiv30"]').attr('value').replace('[','').replace(']','').replace(' ','')).split(',');
            for (i=0; i<tmp.length; i++) {
            $('form [name="indiv' + (i+30) + '"]').prop('selectedIndex',parseInt(tmp[i])+1);
            };
            tmp = ($('form [name="indiv33"]').attr('value').replace('[','').replace(']','').replace(' ','')).split(',');
            for (i=0; i<tmp.length; i++) {
            $('form [name="indiv' + (i+33) + '"]').prop('selectedIndex',parseInt(tmp[i])+1);
            };
            tmp = ($('form [name="indiv36"]').attr('value').replace('[','').replace(']','').replace(' ','')).split(',');
            for (i=0; i<tmp.length; i++) {
            $('form [name="indiv' + (i+36) + '"]').prop('selectedIndex',parseInt(tmp[i])+1);
            };
            tmp = ($('form [name="indiv38"]').attr('value').replace('[','').replace(']','').replace(' ','')).split(',');
            for (i=0; i<tmp.length; i++) {
            $('form [name="indiv' + (i+38) + '"]').prop('selectedIndex',parseInt(tmp[i])+1);
            };
            tmp = ($('form [name="indiv42"]').attr('value').replace('[','').replace(']','').replace(' ','')).split(',');
            for (i=0; i<tmp.length; i++) {
            $('form [name="indiv' + (i+42) + '"]').prop('selectedIndex',parseInt(tmp[i])+1);
            };

        };
      
      function phone_format1() {
        var num = $('.form-group [name="indiv7"]').val();
        console.log(num);
        num = num.replace(/ /g, '').replace(/-/g, '');
        if (isNaN(num) || num.length < 6) {
          alert('Wrong phone number, please check');
        } else {
          var len = num.length;
          var str = '';
          str = num.substring(len-7, len-4) + '-' + num.substring(len-4);
          if (len > 10) {
            str = num.substring(0, len-10) + '-' + num.substring(len-10, len-7) + '-' + str;
          } else if (len > 7) {
            str = num.substring(0, len-7) + '-' + str;
          };
        };
        console.log(str);
        $('.form-group [name="indiv7"]').val(str);
      };
      function phone_format2() {
        var num = $('.form-group [name="indiv8"]').val();
        console.log(num);
        num = num.replace(/ /g, '').replace(/-/g, '');
        if (isNaN(num) || num.length < 6) {
          alert('Wrong phone number, please check');
        } else {
          var len = num.length;
          var str = '';
          str = num.substring(len-7, len-4) + '-' + num.substring(len-4);
          if (len > 10) {
            str = num.substring(0, len-10) + '-' + num.substring(len-10, len-7) + '-' + str;
          } else if (len > 7) {
            str = num.substring(0, len-7) + '-' + str;
          };
        };
        console.log(str);
        $('.form-group [name="indiv8"]').val(str);
      };

        //改变窗口大小后，自动刷新，如想清楚cache则需要location.reload(true);，这是配合上面的动态CSS使用的
        //$(document).ready(function () 所以页面都生效
        $(window).bind('resize', function() {
        location.reload();
        });
    </script>
{%- endblock scripts %}