{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
<div class="tbl-field"> 
    <div class="row">
        <br><br><br><br><br><br>
        <div class="col-sm-12"></div>
        <div class="col-sm-3 col-sm-offset-4 ml-auto">
            <h1>User: {{ user.username }}</h1>
        </div>
        <div class="col-sm-12"></div>
    </div>
    
    {% if user.about_me %}
        <div class="row">
            <div class="col-sm-12"></div>
            <div class="col-sm-3 col-sm-offset-4 ml-auto">
                <p>About me: {{ user.about_me }}</p>
            </div>
            <div class="col-sm-12"></div>
        </div>
    {% endif %}

    {% if user.last_seen %}
        <div class="row">
            <div class="col-sm-12"></div>
            <div class="col-sm-3 col-sm-offset-4 ml-auto">
                <p>Last login: {{ user.last_seen }}</p>
            </div>
            <div class="col-sm-12"></div>
        </div>
    {% endif %}

    {% if user == current_user %}
        <div class="row">
            <div class="col-sm-12"></div>
            <div class="col-sm-3 col-sm-offset-4 ml-auto">
                <p><a href="{{ url_for('edit_profile') }}">Edit your profile</a></p>
            </div>
            <div class="col-sm-12"></div>
        </div>
    {% endif %}
</div>
{% endblock %}