{% extends 'base.html' %}

{% block styles %}
{{super()}}
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/style.css')}}">
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/common.css')}}">
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/dataTables.bootstrap.css')}}">
<style>
  #success_message{ display: none;}
  form label.control-label{
    padding: 0px 13px 0px 0px;
    text-align-last: right;
    margin: 5px 0px 0px 0px;
    font-size: 13px;
  }
</style>
{% endblock %}

{% block content %}
<div class="tbl-field" style="height: fit-content;">
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message in messages %}
    <div class="alert alert-success alert-dismissable" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="close">
        <span aria-hidden="true">x</span>
      </button>
      {{message}}
    </div>
    {% endfor %}
    {% endif %}
    {% endwith %}
    
    <!-- Add new job -->
    <h4 style="margin-left: 50px;">&nbsp Job ID: {{task_data.task_id}} &nbsp &nbsp RENEW</h4>
    <div class="row" style="margin: 0% 20% 0% 20%;">    
        <form id="my_form" action="{{url_for('task_renew')}}/{{task_data.task_id}}" method="POST">
            
            <div class="form-group" name="Corporation">
              <label class="col-sm-3 control-label" >Coporation Client</label>
              <div class="col-sm-9 inputGroupContainer"  style="padding: 0px;">
                <div class="input-group">
                  <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                  <select class="form-control browser-default custom-select" name="taskedit1" value="{{corp_idx}}">
                    <option value="0 | 000000000 | Coporation null" >0 | 000000000 | Coporation null |</option>
                    {% for corp in corp_dropdown %}
                    <option >{{corp.corp_id}} | {{corp.corp1}} | {{corp.corp2}} </option>
                    {% endfor %}
                  </select>
                  <!-- <input name="first_name" placeholder="First Name" class="form-control" type="text"> -->
                </div>
              </div>   
            </div>
            <div class="form-group" name="Individual">
              <label class="col-sm-3 control-label" >Individual Client</label>
              <div class="col-sm-9 inputGroupContainer"  style="padding: 0px;">
                <div class="input-group">
                  <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                  <select class="form-control browser-default custom-select" name="taskedit2" value="{{indiv_idx}}">
                    <option value="0 | Individual null | 000000000" >0 | Individual null | 000000000</option>
                    {% for indiv in indiv_dropdown %}
                    <option >{{indiv.indiv_id}} | {{indiv.prefix}} {{indiv.last_name}}, {{indiv.first_name}} | {{indiv.sin}}</option>
                    {% endfor %}
                  </select>
                </div>
              </div>   
            </div>
            <div class="form-group" name="PeriodEnd">
              <label class="col-sm-3 control-label" >PeriodEnd</label>
              <div class="col-sm-9 inputGroupContainer"  style="padding: 0px;">
                <div class="input-group" style="width: 60%;">
                  <span class="input-group-addon"><i class="glyphicon glyphicon-time"></i></span>
                  <input type="date" class="form-control" name="taskedit3" value="{{task_data.renewperiod}}" style="padding: 3px 12px;">
                </div>
              </div>   
            </div>
            <div class="form-group" name="Start">
              <label class="col-sm-3 control-label" >Start date</label>
              <div class="col-sm-9 inputGroupContainer"  style="padding: 0px;">
                <div class="input-group" style="width: 60%;">
                  <span class="input-group-addon"><i class="glyphicon glyphicon-time"></i></span>
                  <input type="date" class="form-control" name="taskedit4"  value="{{task_data.renewstartdate}}" style="padding: 3px 12px;">
                </div>
              </div>   
            </div>
            <div class="form-group" name="End">
              <label class="col-sm-3 control-label" >End date</label>
              <div class="col-sm-9 inputGroupContainer"  style="padding: 0px;">
                <div class="input-group" style="width: 60%;">
                  <span class="input-group-addon"><i class="glyphicon glyphicon-time"></i></span>
                  <input type="date" class="form-control" name="taskedit5" value="{{task_data.renewenddate}}" style="padding: 3px 12px;">
                </div>
              </div>   
            </div>
            <div class="form-group" name="type">
              <label class="col-sm-3 control-label" >Jobtype</label>
              <div class="col-sm-9 inputGroupContainer"  style="padding: 0px;">
                <div class="input-group" style="width: 60%;">
                  <span class="input-group-addon"><i class="glyphicon glyphicon-cog"></i></span>
                  <select class="form-control browser-default custom-select" name="taskedit6" value='{{type_idx}}'>
                    <option value="" >Please select</option>
                    {% for job in jobtype_dropdown %}
                    <option >{{job.job_id}} | {{job.short_code}} | {{job.name}}</option>
                    {% endfor %}
                  </select>
                </div>
              </div>   
            </div>
            <div class="form-group" name="Responsible">
              <label class="col-sm-3 control-label" >Job Responsible</label>
              <div class="col-sm-9 inputGroupContainer"  style="padding: 0px;">
                <div class="input-group" style="width: 70%;">
                  <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                  <input type="text" class="form-control" name="taskedit7" value="{{task_data.responsible}}">
                </div>
              </div>   
            </div>
            <div class="form-group" name="job_detail">
              <label class="col-sm-3 control-label" >Job details</label>
              <div class="col-sm-9 inputGroupContainer"  style="padding: 0px;">
                <div class="input-group" style="width: 90%;">
                  <span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>
                  <input type="text" class="form-control" name="taskedit8" value="{{task_data.details}}">
                </div>
              </div>   
            </div>
            <div class="form-group" name="Status">
              <label class="col-sm-3 control-label" >Status</label>
              <div class="col-sm-9 inputGroupContainer"  style="padding: 0px;">
                <div class="input-group" style="width: 60%;">
                  <span class="input-group-addon"><i class="glyphicon glyphicon-tag"></i></span>
                  <select class="form-control browser-default custom-select" name="taskedit9"  value="{{task_data.status}}">
                    <option value="" >Please select</option>
                    <option selected>To do</option>
                    <option >In progress</option>
                    <option >Done</option>
                </select>
                </div>
              </div>   
            </div>
            <div class="form-group" name="Priority">
              <label class="col-sm-3 control-label" >Priority</label>
              <div class="col-sm-9 inputGroupContainer"  style="padding: 0px;">
                <div class="input-group" style="width: 60%;">
                  <span class="input-group-addon"><i class="glyphicon glyphicon-flag"></i></span>
                  <select class="form-control browser-default custom-select" name="taskedit10" value="{{task_data.priority}}">
                    <option value="" >Please select</option>
                    <option >Critical</option>
                    <option >High</option>
                    <option selected>Medium </option>
                    <option >Low </option>
                </select>
                </div>
              </div>   
            </div>
            <div class="form-group" name="Recurrence">
              <label class="col-sm-3 control-label" >Recurrence</label>
              <div class="col-sm-9 inputGroupContainer"  style="padding: 0px;">
                <div class="input-group" style="width: 60%;">
                  <span class="input-group-addon"><i class="glyphicon glyphicon-repeat"></i></span>
                  <select class="form-control browser-default custom-select" name="taskedit11" value="{{task_data.recurrence}}">
                    <option value="" >Please select</option>
                    <option selected>Monthly</option>
                    <option >Quarterly</option>
                    <option >Annually </option>
                </select>
                </div>
              </div>   
            </div>
            <div class="form-group" name="Worktime">
              <label class="col-sm-3 control-label" >Worktime</label>
              <div class="col-sm-9 inputGroupContainer"  style="padding: 0px;">
                <div class="input-group" style="width: 50%;">
                  <span class="input-group-addon"><i class="glyphicon glyphicon-time"></i></span>
                  <input type="number" min="0" value="0" step=".01" class="form-control" name="taskedit12" value="{{task_data.worktime}}">
                </div>
              </div>   
            </div>
            <div class="form-group" style="text-align: right;">
                <a href="{{ url_for('task')}}"><button type="submit" class="btn btn-success">Renew</button></a>
                <a href="{{ url_for('task')}}" type="cancel" class="btn btn-danger" >Cancel</a>
            </div>
            <!-- Success message -->
            <div class="alert alert-success" role="alert" id="success_message">Success <i class="glyphicon glyphicon-thumbs-up"></i> Make sure above data is valid.
            </div>
        </form>
    </div>
</div>
{% endblock %}
{% block scripts %}
<script src="{{url_for('static', filename='js/jquery-3.5.1.js')}}"></script>
<script src="{{url_for('static', filename='js/main.js')}}"></script>
<script src="{{url_for('static', filename='js/jquery.dataTables.js')}}"></script>
<script src="{{url_for('static', filename='js/dataTables.bootstrap.js')}}"></script>
<script src="{{url_for('static', filename='js/bootstrap.min.js')}}"></script>
<script src="{{url_for('static', filename='js/bootstrapValidator.min.js')}}"></script> 

<script type="text/javascript">
  $(document).ready(function () {
    $('#corp_table').DataTable();
  });

  window.onload = function(event) {
    var tmp = $('form#my_form [name="taskedit1"]').attr('value')
    $('form#my_form [name="taskedit1"]').prop('selectedIndex', parseInt(tmp));
    tmp = $('form#my_form [name="taskedit2"]').attr('value')
    $('form#my_form [name="taskedit2"]').prop('selectedIndex', parseInt(tmp));
    tmp = $('form#my_form [name="taskedit6"]').attr('value')
    $('form#my_form [name="taskedit6"]').prop('selectedIndex', parseInt(tmp));
    tmp = $('form#my_form [name="taskedit9"]').attr('value')
    $('form#my_form [name="taskedit9"]').val(tmp);
    tmp = $('form#my_form [name="taskedit10"]').attr('value')
    $('form#my_form [name="taskedit10"]').val(tmp);
    tmp = $('form#my_form [name="taskedit11"]').attr('value')
    $('form#my_form [name="taskedit11"]').val(tmp);
  };

  $(document).ready(function() {
    $('#my_form').bootstrapValidator({
      // To use feedback icons, ensure that you use Bootstrap v3.1.0 or later
      feedbackIcons: {
        valid: 'glyphicon glyphicon-ok',
        invalid: 'glyphicon glyphicon-remove',
        validating: 'glyphicon glyphicon-refresh'
      },
      fields: {
        taskedit1: {
          validators: {
            stringLength: {
                min: 2,
            },
            notEmpty: {
                message: 'Please supply Corporation name',
            }
          }
        },
        taskedit2: {
          validators: {
            stringLength: {
                min: 2,
            },
            notEmpty: {
                message: 'Please supply Corporation name',
            }
          }
        },
        taskedit6: {
          validators: {
            stringLength: {
                min: 2,
            },
            notEmpty: {
                message: 'Please supply Corporation name',
            }
          }
        },
        taskedit3: {
          validators: {
            notEmpty: {
              //message: 'Please supply valid date',
            },
            regexp: {
              regexp: /^[\d+]{4}-(\d{2})-[\d]{2}$/,
              message: 'Date should be in the format of yyyy-mm-dd'
            },
            callback: {
              // message: 'should be valid date',
              callback: function(value, validator, $field) {
                console.log(value);
                const parts = value.split('-').map((p) => parseInt(p, 10));
                parts[1] -= 1;
                const d = new Date(parts[0], parts[1], parts[2]);
                return d.getFullYear() === parts[0] && d.getMonth() === parts[1] && d.getDate() === parts[2]
              }
            }
          }
        },
        taskedit4: {
          validators: {
            notEmpty: {
              //message: 'Please supply valid date',
            },
            regexp: {
              regexp: /^[\d+]{4}-(\d{2})-[\d]{2}$/,
              message: 'Date should be in the format of yyyy-mm-dd'
            },
            callback: {
              // message: 'should be valid date',
              callback: function(value, validator, $field) {
                console.log(value);
                const parts = value.split('-').map((p) => parseInt(p, 10));
                parts[1] -= 1;
                const d = new Date(parts[0], parts[1], parts[2]);
                return d.getFullYear() === parts[0] && d.getMonth() === parts[1] && d.getDate() === parts[2]
              }
            }
          }
        },
        taskedit5: {
          validators: {
            notEmpty: {
              //message: 'Please supply valid date',
            },
            regexp: {
              regexp: /^[\d+]{4}-(\d{2})-[\d]{2}$/,
              message: 'Date should be in the format of yyyy-mm-dd'
            },
            callback: {
              // message: 'should be valid date',
              callback: function(value, validator, $field) {
                console.log(value);
                const parts = value.split('-').map((p) => parseInt(p, 10));
                parts[1] -= 1;
                const d = new Date(parts[0], parts[1], parts[2]);
                return d.getFullYear() === parts[0] && d.getMonth() === parts[1] && d.getDate() === parts[2]
              }
            }
          }
        }
      }
    })

    // .on('success.form.bv', function(e) {
      // $('#success_message').slideDown({ opacity: "show" }, "slow") // Do something ...
      //     $('#my_form').data('bootstrapValidator').resetForm();
      // // Prevent form submission
      // e.preventDefault();
      // Get the form instance
      // var $form = $(e.target);
      // // Get the BootstrapValidator instance
      // var bv = $form.data('bootstrapValidator');
      // // Use Ajax to submit form data
      // $.post($form.attr('action'), $form.serialize(), function(result) {
      //   console.log(result);
      // }, 'json');
    // })
  });

</script>
{%- endblock scripts %}