{% extends 'base.html' %}

{% block styles %}
{{super()}}
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/style.css')}}">
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/common.css')}}">
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/dataTables.bootstrap.css')}}">
<style>
  #success_message{ display: none;}
</style>
{% endblock %}

{% block content %}
<div class="tbl-field">
  <div id="tasklist" class="container-fluid" style="margin: 20px 60px 0px 60px;">
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message in messages %}
    <div class="alert alert-success alert-dismissable" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="close">
        <span aria-hidden="true">x</span>
      </button>
      {{message}}
    </div>
    {% endfor %}
    {% endif %}
    {% endwith %}
    <a href="{{ url_for('task_add') }}" class="btn btn-success btn-xs" style="padding: 3px 20px 3px 20px; margin-bottom: 20px; border-color: red; font-size: 14px;">Generate new job</a>
    <!-- <a href="#" class="btn btn-success btn-xs" data-toggle="modal" data-target="#modal_add" style="padding: 3px 20px 3px 20px; margin-bottom: 20px; border-color: red; font-size: 14px;">Generate new job</a> -->
    <!-- <input class="form-control mb-4" id="tableSearch" type="text"
            placeholder="Type something to search list items">
        <br/> -->
    <table id="corp_table" class="table table-bordered table-striped table-hover" style="font-size: 12px;">
      <thead>
        <tr>
          <th class="col-1">ID</th>
          <th class="col-1">PeriodEnd</th>
          <th class="col-2">Corporation Client</th>
          <th class="col-2">Individual Client</th>
          <th class="col-1">JobType</th>
          <th class="col-1">Start date</th>
          <th class="col-1">Status</th>
          <th class="col-2">Priority</th>
          <th class="col-1">WorkHour</th>
          <th class="col-2">Create date</th>
          <th class="col-1">Action</th>
        </tr>
      </thead>
      <tbody id="myTable">
        {% for row in tasks %}
        <tr>
          <td class="col-1">{{row.task_id}}</td>
          <td class="col-1">{{row.periodend}}_{{row.recurrence}}</td>
          <td class="col-1">{{row.client_corp_name}}</td>
          <td class="col-1">{{row.client_indiv_name}}</td>
          <td class="col-1">{{row.jobtype_code}}</td>
          <td class="col-1">{{row.startdate}}</td>
          <td class="col-1">{{row.status}}</td>
          <td class="col-1">{{row.priority}}</td>
          <td class="col-1">{{row.worktime}}</td>
          <td class="col-1">{{row.createdate}}</td>
          <td class="col-2">
            <div style="display: inline-block;">
              <a href="{{ url_for('task_renew') }}/{{row.task_id}}"class="btn btn-success btn-xs" style="font-size: 11px;">Renew</a>
              <a href="{{ url_for('task_edit') }}/{{row.task_id}}" class="btn btn-info btn-xs" style="font-size: 11px;">Edit</a>
            </div>
            <div style="display: inline-block;">  
              <form action="{{url_for('task_del')}}/{{row.task_id}}" method="POST">
              <a href="#"><button type="submit" class="btn btn-danger btn-xs" onclick="return confirm('Are You Sure To Delete ?')" style="font-size: 11px;">Del</button></a>
              </form>
            </div>
          </td>
          <!-- Modal pattern --><!--
          <td class="col-1">
            <a href="#" class="btn btn-success btn-xs" data-toggle="modal" data-target="#modalrenew{{row.id}}">Renew</a>
            <a href="#" class="btn btn-warning btn-xs" data-toggle="modal" data-target="#modaledit{{row.id}}">Edit</a>
            <a href="/taskdelete/{{row.id}}" class="btn btn-danger btn-xs"
              onclick="return confirm('Are You Sure To Delete ?')">Del</a> 
          </td> -->
        </tr>
        <!-- Add new job -->
        <div id="modal_add" class="modal" role="dialog" aria-hidden="true" style="z-index: 300;">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h3 class="modal-title">Generate new job</h3>
              </div>
              <div class="modal-body">
                <form id="modal_form" action="{{url_for('task_add')}}" method="POST">
                  <div class="container-fluid">
                    <div class="row">
                      <div class="form-group col-sm-12">
                        <label for="taskedit1">Coporation Client</label>
                        <select class="form-control browser-default custom-select" name="taskedit1">
                          <option value="" >Please select</option>
                          {% for corp in corp_dropdown %}
                          <option >{{corp.corp_id}} | {{corp.corp1}} | {{corp.corp2}} </option>
                          {% endfor %}
                        </select>
                      </div>
                      <div class="form-group col-sm-12">
                        <label for="taskedit2">Individual Client</label>
                        <select class="form-control browser-default custom-select" name="taskedit2">
                          <option value="" >Please select</option>
                          {% for indiv in indiv_dropdown %}
                          <option >{{indiv.indiv_id}} | {{indiv.prefix}} {{indiv.last_name}}, {{indiv.first_name}} | {{indiv.sin}}</option>
                          {% endfor %}
                        </select>
                      </div>
                      <div class="form-group col-sm-4">
                        <label for="taskedit3">PeriodEnd</label>
                        <input type="date" class="form-control" name="taskedit3">
                      </div>
                      <div class="form-group col-sm-4">
                        <label for="taskedit4">Start date</label>
                        <input type="date" class="form-control" name="taskedit4">
                      </div>
                      <div class="form-group col-sm-4">
                        <label for="taskedit5">End date</label>
                        <input type="date" class="form-control" name="taskedit5">
                      </div>
                      <div class="form-group col-sm-6">
                        <label for="taskedit6">jobtype</label>
                        <select class="form-control browser-default custom-select" name="taskedit6">
                          <option value="" >Please select</option>
                          {% for job in jobtype_dropdown %}
                          <option >{{job.job_id}} | {{job.short_code}} | {{job.name}}</option>
                          {% endfor %}
                        </select>
                      </div>
                      <div class="form-group col-sm-6">
                        <label for="taskedit7">Job Responsible</label>
                        <input type="text" class="form-control" name="taskedit7">
                      </div>
                      <div class="form-group col-sm-12">
                        <label for="taskedit8">Job details</label>
                        <input type="text" class="form-control" name="taskedit8">
                      </div>
                      <div class="form-group  col-sm-3">
                        <label for="taskedit9">Status</label>
                        <select class="form-control browser-default custom-select" name="taskedit9">
                          <option value="" >Please select</option>
                          <option >To do</option>
                          <option >In progress</option>
                          <option >Done</option>
                        </select>
                      </div>
                      <div class="form-group  col-sm-3">
                        <label for="taskedit10">Priority</label>
                        <select class="form-control browser-default custom-select" name="taskedit10">
                          <option value="" >Please select</option>
                          <option >Critical</option>
                          <option >High</option>
                          <option >Medium </option>
                          <option >Low </option>
                        </select>
                      </div>
                      <div class="form-group  col-sm-3">
                        <label for="taskedit11">recurrence</label>
                        <select class="form-control browser-default custom-select" name="taskedit11">
                          <option value="" >Please select</option>
                          <option >Monthly</option>
                          <option >Quarterly</option>
                          <option >Annually </option>
                        </select>
                      </div>
                      <div class="form-group  col-sm-3">
                        <label for="taskedit12">worktime</label>
                        <input type="text" class="form-control" name="taskedit12">
                      </div>
                      <div class="form-group" style="text-align: right;">
                        <button class="btn btn-primary" type="submit"
                          style="margin-top: 10px; margin-right: 15px;">Create</button>
                      </div>
                      <!-- Success message -->
                      <div class="alert alert-success" role="alert" id="success_message">Success <i class="glyphicon glyphicon-thumbs-up"></i> Make sure above data is valid.</div>

                    </div>
                  </div>
                </form>
              </div>
              <!--class="modal-body"-->
              <div class="modal-footer">
                <!-- <button type="button" id="generate" class="btn btn-info">Generate Recurrence Task</button>
                                <button type="button" id="checked" class="btn btn-info">Checked, Yes</button> -->
                <button type="button" id="close" class="btn btn-light" data-dismiss="modal"
                  style="padding: 3px 18px 3px 18px; margin-right: 5px;">Close</button>
              </div>
            </div>
            <!--class="modal-content"-->
          </div>
        </div>
        <!-- Edit & update -->

        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %}

{% block scripts %}
<!-- <script src="{{bootstrap_find_resource('jquery.js', cdn='jquery')}}"></script>
<script src="{{bootstrap_find_resource('js/bootstrap.js', cdn='bootstrap')}}"></script> -->
<!-- <script src="{{url_for('static', filename='js/main.js')}}"></script>
<script src="{{url_for('static', filename='js/jquery-3.5.1.js')}}"></script>
<script src="{{url_for('static', filename='js/jquery.dataTables.js')}}"></script>
<script src="{{url_for('static', filename='js/dataTables.bootstrap.js')}}"></script>
<script src="{{url_for('static', filename='js/bootstrapValidator.min.js')}}"></script>  -->

<script src="{{url_for('static', filename='js/jquery-3.5.1.js')}}"></script>
<script src="{{url_for('static', filename='js/main.js')}}"></script>
<script src="{{url_for('static', filename='js/jquery.dataTables.js')}}"></script>
<script src="{{url_for('static', filename='js/dataTables.bootstrap.js')}}"></script>
<script src="{{url_for('static', filename='js/bootstrap.min.js')}}"></script>
<script src="{{url_for('static', filename='js/bootstrapValidator.min.js')}}"></script> 

<script type="text/javascript">
  $(document).ready(function () {
    $('#corp_table').DataTable();
  });

    //try open modal 
    // $("#renew").on("click", function(event){
        //     //location.reload();
        //     var t = $(this).closest("tr").find("td").eq(0).text(); //读取表格内容
        //     console.log(t);
        //     $('#modaledit5').modal('show');//打开modal，bootstrap.min.js必须有,但调用了,黑屏
    // });
    //try click 'Edit' button
        // $(".renew").on("click", function(event){
        //     //location.reload();
        //     var t = $(this).closest("tr").find("td").eq(0).text(); //读取表格内容
        //     console.log(t);
        //     $('#edit'+t).click();//打开modal，bootstrap.min.js必须有,但调用了,黑屏
        // });
    //生成新的任务
        // $("#renew").click(function() {

        // })
    // $(".modal .modal-footer button#generate").click(function(){
        // var t = "";
        // $(".modal .modal-body [name='taskedit31']").val("");
        // $(".modal .modal-body [name='taskedit51']").val("");
        // $(".modal .modal-body [name='taskedit61']").val("");
        // console.log("------" + t + "-----------");
        // $(".modal .modal-body [name='taskedit31']").val('');
        // $(".modal .modal-body [name='taskedit51']").val(t);
        // $(".modal .modal-body [name='taskedit61']").val(t);
        // var num1 = parseInt($(".modal .modal-body [name='taskedit3']").val().substr(0,4), 10);
        // if ($(".modal .modal-body [name='taskedit3']").val().substr(5,2) !== "") {
        //     var num2 = parseInt($(".modal .modal-body [name='taskedit3']").val().substr(5,2), 10);
        //     console.log($(".modal .modal-body [name='taskedit3']").val());
        //     console.log(parseInt($(".modal .modal-body [name='taskedit3']").val().substr(5,2), 10));
        //     console.log(num2);
        // }
        // var section = $(".modal .modal-body [name='taskedit3']").val().substr(4,1)
        // console.log(num1 + section + num2);
        // if (section == "m") {
        //     if (num2 == 12) {
        //         num1 += 1;
        //         num2 = 1;
        //     } else {
        //         num2 += 1;
        //     };
        //     $(".modal .modal-body [name='taskedit5']").val(num1 + "-" + num2 + "- 1");
        //     $(".modal .modal-body [name='taskedit6']").val(num1 + "-" + num2 + "- 25");
        // } else if (section == "q") {
        //     if (num2 == 4) {
        //         num1 += 1;
        //         num2 = 1;
        //     } else {
        //         num2 += 1;
        //     };
        //     $(".modal .modal-body [name='taskedit5']").val(num1 + "-" + num2*3-2 + "- 1");
        //     $(".modal .modal-body [name='taskedit6']").val(num1 + "-" + num2*3 + "- 25");
        // } else if (section == "y") {
        //     num1 += 1;
        //     $(".modal .modal-body [name='taskedit5']").val(num1 + "- 1- 1");
        //     $(".modal .modal-body [name='taskedit6']").val(num1 + "- 12 - 25");
        // };
        // localStorage.setItem("l2", '{{tasks}}');
    // });
    // try Reset modal data
        // $('.modal').on('hidden.bs.modal', function(){
        //     $('.modal').removeData('bs.modal');
        //     console.log("close");
        // });
</script>
{%- endblock scripts %}