{% extends 'base.html' %}

{% block styles %}
    {{super()}} 
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/style.css')}}">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/common.css')}}">
{% endblock %}

{% block content %}

<div class="box">
  <div class="row header">
    <p><b>header</b>
      <br />
      <br />(sized to content)</p>
  </div>
  <div class="row content">
    <p>
      <b>content</b>
      (fills remaining space)<br/>
      (fills remaining space)<br/>
      (fills remaining space)<br/>
      (fills remaining space)<br/>
      (fills remaining space)<br/>
      (fills remaining space)<br/>
      (fills remaining space)<br/>
      (fills remaining space)<br/>

      (fills remaining space)
      (fills remaining space)<br/>
      (fills remaining space)<br/>
      (fills remaining space)<br/>
      (fills remaining space)<br/>
      (fills remaining space)<br/>
      (fills remaining space)<br/>
      (fills remaining space)<br/>
      (fills remaining space)<br/>
      
      (fills remaining space)
      (fills remaining space)<br/>
      (fills remaining space)<br/>
      (fills remaining space)<br/>
      (fills remaining space)<br/>
      (fills remaining space)<br/>
      (fills remaining space)<br/>
      (fills remaining space)<br/>
      (fills remaining space)<br/>
      
      (fills remaining space)
      (fills remaining space)<br/>
      (fills remaining space)<br/>
      (fills remaining space)<br/>
      (fills remaining space)<br/>
      (fills remaining space)<br/>
      (fills remaining space)<br/>
      (fills remaining space)<br/>
      (fills remaining space)<br/>
      
      (fills remaining space)
      (fills remaining space)<br/>
      (fills remaining space)<br/>
      (fills remaining space)<br/>
      (fills remaining space)<br/>
      (fills remaining space)<br/>
      (fills remaining space)<br/>
      (fills remaining space)<br/>
      (fills remaining space)<br/>

      (fills remaining space)
      (fills remaining space)<br/>
      (fills remaining space)<br/>
      (fills remaining space)<br/>
      (fills remaining space)<br/>
      (fills remaining space)<br/>
      (fills remaining space)<br/>
      (fills remaining space)<br/>
      (fills remaining space)<br/>
      
      (fills remaining space)
      (fills remaining space)<br/>
      (fills remaining space)<br/>
      (fills remaining space)<br/>
      (fills remaining space)<br/>
      (fills remaining space)<br/>
      (fills remaining space)<br/>
      (fills remaining space)<br/>
      (fills remaining space)<br/>
      
      (fills remaining space)
      (fills remaining space)<br/>
      (fills remaining space)<br/>
      (fills remaining space)<br/>
      (fills remaining space)<br/>
      (fills remaining space)<br/>
      (fills remaining space)<br/>
      (fills remaining space)<br/>
    </p>
  </div>
  <div class="row footer">
    <p><b>footer</b> (fixed height)</p>
  </div>
</div>
{% endblock content%}